[2017-06-05 14:23] wizonesolutions commented on #116
Workaround found! First, run the script in the other issue. Then, when you try to make Chrome your default browser and it asks you if you want to keep [default browser] or change to [name of random Epichrome app], click on the name of the Epichrome app. This actually opens links in Chrome, even if you have the Epichrome app open.

So it's some weird naming issue, not a functionality issue.

[2017-06-05 14:46] henderea commented on #116
I will say, however, that BrowserFairy doesn't seem to recognize Chrome in the cmd-click popup.  This causes problems for me when I cmd-click a link in iTerm2, since it only offers Safari and Firefox.  So even if it *is* just a naming issue, if there is anything that depends on that name, it will have problems.

[2017-06-08 12:42] henderea commented on #118
Yes, it is *technically* possible to codesign on a client machine.  It might require the users to install xcode and its tools, but it *should* be "possible".  However, that would require including a code signing cert with the app bundle, which is a huge security issue since it would let anyone sign as that person.  It could technically be encrypted with a decryption key in the code, but with this

[2017-06-08 14:40] santry commented on #114
@asos-rshev it sounds like you already have the Homebrew version of python 2.7.13 installed. The `whereis` command just finds programs on your system. It doesn't tell you which one is in the user's path.

To check which version of python is being used from the user's path, you want to use `which python`. I'll bet that returns `/usr/local/bin/python`, which is the Homebrew version.

To explicitly c

[2017-06-12 06:25] matthewfallshaw commented on #114
Without requiring sed to be installed `--with-default-names`:

    curl -sSL 'https://gist.githubusercontent.com/matthewfallshaw/35fe2b89122e9247b29ae678e0847090/raw/b77265ea8a702b3d376c8b01522e0c3a5c5742a9/apply-epichrome-patch.sh' | bash

Thank you, @henderea.

[2017-06-13 14:43] whatknows commented on #116
👍

[2017-06-13 20:10] henderea commented on #116
@whatknows the issue you're seeing is actually #114, not this one.  There is info on fixes in that issue.

[2017-06-26 20:37] kota77 commented on #114
Thank you so much, @henderea! You rock!

[2017-06-27 11:53] wizonesolutions opened #119 "Regular Chrome icons turning into Epichrome app icons"
My Google Chrome icon has turned into one of my Epichrome app icons. It still works properly otherwise. The Cmd-Tab name is "ChromeEngine".

This happened after applying the script in https://github.com/dmarmor/epichrome/issues/114 — though not immediately. I think it happened after i put my computer to sleep for a longer time, and it went into hibernation.

It seemed to use the most recently-open

[2017-07-06 15:55] alvint commented on #112
This sounds like a great idea for a paid feature (since you'll need server time). I for one would be willing to pay thousands of dollars for this. Maybe not quite that much.

[2017-07-06 17:50] henderea commented on #112
If you're talking about the type of syncing you can get with a google account, that data will probably be in `/Users/yourusername/Library/Application Support/Epichrome/Apps/appname/Default`.  Of course, that assumes you haven't done any configuration with profiles.  If you have multiple profiles in your epichrome app, you'll probably also have folders like `Profile 1` or whatever in the same folde

[2017-07-11 20:45] jtbayly commented on #114
Yep. Thanks!

[2017-07-15 18:08] #114 closed

[2017-07-15 21:21] dmarmor commented on #116
Hey all, I think I've got a fix for this in 2.1.17 which I'm working on a release for today. It also fixes #114. Stay tuned...

[2017-07-15 21:21] #116 closed

[2017-07-15 21:22] dmarmor commented on #114
I've integrated @henderea's fix in 2.1.17 which should be up in the next hour or so. Thank you all for the help tracking this down and fixing it!

[2017-07-15 21:29] dmarmor commented on #119
Hey @wizonesolutions, I think this is related to the same problem in #116, which I believe I've solved in 2.1.17. Once I've got the release up, you'll need to update all your Epichrome apps and then shouldn't have this problem any more.

[2017-07-15 21:29] #119 closed

[2017-07-15 21:30] dmarmor commented on #117
Hi @gnyrd -- this is on my feature wish-list too, but will likely have to wait until I have time to build the version of Epichrome that runs as a Chrome extension. Unfortunately my day job is still more than full-time, so I'm not sure when I'll get to this, but I really would like this feature myself, so it will eventually happen!

[2017-07-15 21:30] #117 closed

[2017-07-15 21:33] dmarmor commented on #112
Hi @seanyhc -- @henderea is exactly right. You should be able to use Dropbox or any good sync software to sync between the Default (or Profile) folders on each computer. Note: do not try to use Dropbox or any other "live" sync if you are ever running your Epichrome app at the same time on multiple systems. In that case, you definitely need to use something like ChronoSync where you can decide when

[2017-07-15 21:33] #112 closed

[2017-07-15 21:37] dmarmor commented on #110
This isn't something Epichrome can do. Remember that all Epichrome does is act as a wrapper for Chrome. If I'm understanding what you want to do, I'd recommend something like [Tampermonkey](https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en "Tampermonkey) (or I think you can manually install user scripts in Chrome, though I've never tried this). Hope that

[2017-07-15 21:37] #110 closed

[2017-07-15 21:41] dmarmor commented on #109
Hey @ylluminate, I haven't really looked into this. It would complicate things quite a lot, as presumably these versions would either have different names when the Epichrome apps were created (necessitating some kind of interface to choose which version you want to link to) or else the names would change later, and there'd have to be an interface for relinking).

That said, if it's really importan

[2017-07-15 21:41] #109 closed

[2017-07-15 21:42] dmarmor commented on #108
Thanks @dsemaya, glad you got it solved!

[2017-07-15 21:42] #108 closed

[2017-07-15 21:55] dmarmor commented on #107
Hi @dzg,

As far as I can tell, memory compression is handled entirely by macOS, and there's nothing Epichrome or any other app can do to enable or disable it. I've done a few little experiments and have noticed that if I quit and restart Chrome, it also shows no memory compression for quite a long time. Is it possible that your Chrome instance has just been open for a lot longer than your Epichro

[2017-07-15 21:55] #107 closed

[2017-07-15 21:56] dmarmor commented on #106
Thank you, @breeden! Yes, this is just standard macOS behavior. I have it in my to-do list to see if the Epichrome Helper extension can have an option to either reopen the default window or quit when all windows are closed. Not sure if it'll be feasible, but I'll give it a shot.

[2017-07-15 21:56] #106 closed

[2017-07-15 21:57] dmarmor commented on #104
Workarounds for this are on my to-do list. Thanks!

[2017-07-15 21:57] #104 closed

[2017-07-15 21:59] dmarmor commented on #105
No, the profile is located in each user's Library/Application Support/Epichrome/Apps/<app-ID> folder. If the profile were in the app bundle itself, then multiple users on a system could never use the same app.

For future iterations, I may look into this, but it would be a real change to how Epichrome works, as it would mean that an Epichrome app was really a one-user entity and should be kept in

[2017-07-15 21:59] #105 closed

[2017-07-15 22:03] dmarmor commented on #111
It is technically possible to do this, though I wouldn't necessarily recommend it, as it's *very* un-user-friendly and definitely undocumented.

That said, if you're technical, then look in main.applescript and you'll see where it calls build.sh (it actually calls it twice). You'll need to set up your arguments to that script very carefully, as it's really not meant to be called from anywhere else

[2017-07-15 22:03] #111 closed

[2017-07-15 22:07] dmarmor commented on #118
Hey @tamaracks & @henderea -- this is very bad news for me as I use 1Password heavily in my own Epichrome apps. If I can find some time I'll try the beta extension and see what's going on, but I suspect as @henderea pointed out it will not be feasible to solve this (I think even turning Epichrome into an extension won't, since the SSBs themselves have to be app bundles).

But I'll keep an eye on i

[2017-07-16 04:44] linusbobcat opened #120 "After updating to 2.1.17, apps open in low resolution"
I opened an Epichrome app in which it asked me to go to Github to download a new runtime and then update the app, which I did. For the sake of making things easier to explain, I'll call it "Trello.app".

After I updated Trello.app, it opens in a blurry lower resolution mode. I right clicked in Finder and checked to see if "Low Resolution Mode" was ticked, which it was not. I tried to run it trough

[2017-07-16 14:25] daviddumonde commented on #120
Same here. **Left** is an epichrome app that has **not** been updated. **Right** is an epichrome app on **2.1.17**. Running MacOS 10.12.6 Beta. Almost looks like it's not using the retina display.

<img width="1280" alt="screen shot 2017-07-16 at 9 20 27 am" src="https://user-images.githubusercontent.com/1297037/28248301-46c2db60-6a08-11e7-88b1-0ba3215a427f.png">

[2017-07-16 15:43] InvaderJ commented on #120
Same here, just updated to latest Epichrome, made a new SSB, and same blurriness as above. MacBook 12", 10.12.2.

[2017-07-16 16:19] dmarmor commented on #120
Thanks, @linusbobcat, @daviddumonde & @InvaderJ! I'd only tested 2.1.17 on my external display so hadn't yet noticed the low-res. In 2.1.17 I changed the Chrome Engine a bit and apparently that caused it to need an extra Info.plist key. Not sure why. New release 2.1.18 is up, and should fix the problem. Let me know if you still have trouble.

And @linusbobcat: zzzzChromeEngine is the correct name

[2017-07-16 16:19] #120 closed

[2017-07-16 16:52] breeden commented on #120
You so smart!

[2017-07-16 18:58] dmarmor commented on #118
Hi again @tamaracks --

I just switched the 1Password extension from the release to the beta version in one of my Epichrome apps, and it appears to still be working just fine. Do I need to do something else to see the problem you're experiencing?

Thanks!

[2017-07-18 02:38] ylluminate opened #121 "After update, links not loading..."
Been having an odd and disrupting issue.  After the update I've found that clicking links that normally loaded up in Epichrome instances now start the Epichrome instance and spawn a new window, but they do not load the actual URL...  Any ideas here?

[2017-07-18 03:34] ylluminate opened #122 "Wrong Epichrome Google Chrome notification icons showing up in notifications"
When certain Epichrome apps issue notifications (ex, Google Docs notifies you of someone making a comment on a document), the icon that shows up on the popup in the upper right of the screen is of another Epichrome app, not of the one that it should be coming from.  For example, if one has an Epichrome instance of Google Docs set up and another Epichrome of GitHub going, when a comment is supposed

[2017-07-18 21:19] philc opened #123 "With epichrome 2.1.18, epichrome apps can't be focused using Hammerspoon"
In short, [Hammerspoon](http://www.hammerspoon.org/) has a function called `hs.application.launchOrFocus` which focuses an app that's open. This suddenly stopped working with Epichrome apps after the latest Epichrome update.

I'm not sure if you know why this is or care to repro it, but I thought I'd at least document a workaround so Google can find it. Here is a replacement for `hs.application.la

[2017-07-19 01:33] dmarmor commented on #121
Can you give me some more specifics? Are you using Browser Fairy? I just tried a couple different links, both a .webloc file loaded from the Finder, and a link clicked from another Epichrome app, and they both loaded properly in the intended app, whether it was already running or not. Maybe you can help me recreate the problem you're having?

[2017-07-19 01:41] dmarmor commented on #122
Do you have a reliable way of generating one of these notifications? I'd like to be able to see this behavior on my system...

[2017-07-19 01:44] dmarmor commented on #123
Thanks for the workaround, @philc. I have a slight suspicion this problem might be related to similar problems @ylluminate is reporting. I might try something and put up a beta for you guys to try and see if it solves any of these issues. Stay tuned...

[2017-07-19 02:15] dmarmor commented on #121
Hey @ylluminate -- not at all sure if this will actually help or not, but I just tried rolling back one change I made to the Chrome engine. If you have a chance, would you try this and see if it helps? *(Back up your apps and Epichrome 2.1.18 first so you can roll back if you need to.)

https://www.dropbox.com/s/srvu6zz0o9mm2st/Epichrome.app.zip?dl=1

[2017-07-19 02:15] dmarmor commented on #123
Hey @philc -- not at all sure if this will help, but I just rolled back one change I made to the Chrome engine. If you have a chance, would you try this and see if it helps? (Back up your apps and Epichrome 2.1.18 first so you can roll back if you need to.)

https://www.dropbox.com/s/srvu6zz0o9mm2st/Epichrome.app.zip?dl=1

[2017-07-19 03:09] ylluminate commented on #121
So yes, using Browser Fairy... When I am clicking on links in Unibox, for example, that should open up in a Google Drive Epichrome app, it pops up the main window (which I have a no-tab primary window for this app) and then it loads its homepage and never opens up a new tabbed window or the usual behavior of loading up in an existing window (last used) as a new tab...

I'll give that a shot here.

[2017-07-19 03:14] ylluminate commented on #121
Yes, this build you posted with the rollback works perfectly again with opening links as such...

[2017-07-19 03:16] ylluminate commented on #122
I don't... I am trying it with Google Docs / Drive, but what I thought would generate notifications is not... :\

[2017-07-19 03:25] ylluminate commented on #122
So I managed to see a notification, but it was indeed still from another Epichrome app.  Now, one thing to note, this is not necessarily new I don't think.  I didn't use notifications until recently and I believe that it exhibited this problem prior to the .17 update...  But I cannot be sure.

[2017-07-19 03:48] dmarmor commented on #121
OK, great. I'm waiting on one other user who reported a different issue to see if the rollback helps them too (or at least doesn't make things worse) and then I'll post a new release with the fix. Chances are I won't change anything else in that release (including version number) so you can just keep the version you have now, no need to d/l the new one.

[2017-07-19 03:48] #121 closed

[2017-07-19 03:49] dmarmor commented on #122
Hmm. OK, yeah, I'd have guessed that if this was introduced in .18, the .19 rollback would've fixed it. I have a Google Drive app myself, so I'll try to figure out how to make it send me a notification and test it out a bit. It's possible that this is just an inevitable side effect of the fact that all these Epichrome apps are just instances of Chrome, so the Chrome notification system might get c

[2017-07-19 18:17] henderea commented on #118
After updating 1Password to 6.8, I also started having trouble re-auth'ing it with my Epichrome SSBs.  It was saying it was unable to connect and offered buttons "Get Help" and "I'll restart my browser".

I eventually figured out that I could fix this by unlocking 1Password and relaunching the SSB.  It only seems to have this issue when the main 1Password app is locked.  Likely a bug in 1Password,

[2017-07-19 18:36] dmarmor commented on #118
Hi @henderea --

Thanks for this report. I just updated to 1Password 6.8 and tested it out and sure enough, it won't work in my Epichrome apps. However, I was able to copy the native messaging .json file from my Chrome profile into my Epichrome app's profile and then it worked perfectly (even with browser signature-checking on, by the way).

I'll add code for the next version so that on startup, a

[2017-07-19 18:38] henderea commented on #118
Actually, I didn't have to copy anything.  I just had to unlock 1Password and relaunch the SSB, and it successfully ran the re-auth process.  I think you just need to make sure 1Password is unlocked, and it's probably a 1Password bug.

[2017-07-19 19:09] dmarmor commented on #118
Just did a bit more testing. It seems to be the case that if browser signature verification is turned off, then the .json file is not needed (it's possible that in that case 1Password reverts to its old style of browser communication). But if I get rid of the .json file and turn browser signature verification back on, then I endlessly get the "can't communicate" message.

It seems worth it to at l

[2017-07-19 19:37] tamaracks commented on #118
Yes, I can verify that I have been told by 1P people that the JSON isn't needed if that verify setting is off. I am pretty sure that in that case 1P resorts to the old way of communicating with the browser. It does allow Epichrome apps to work, but obviously that setting isn't recommended by 1P, as it lessens the security to some degree.

It saw your request for me to try again, but I haven't had

[2017-07-20 19:12] rschend commented on #123
Hey @dmarmor , been awhile since I poked my head in here and contributed to the troubleshooting, but still loving Epichrome...

If you recall, the issue I filed was about compatibility with BrowserFairy. I've since moved to Choosy, as it's more polished, but it's been working great with Epichrome.

But 2.1.18 broke it. My Epichrome browsers just ignore links sent to them from Choosy altogether. Na

[2017-07-20 19:21] rschend commented on #123
Whoops...I take that back...

Focus seems to be working as it was before. Which wasn't/isn't 100% consistent. Some clicks just inexplicably don't cause the SSB to gain focus, even though it loads the link just fine.

So, I'm betting .19 has fully corrected the issue that .18 introduced. The focus issue might not be related to Epichrome at all?

[2017-07-23 00:58] dmarmor commented on #118
I've just uploaded Epichrome 2.1.20. Give it a whirl and let me know how it works for you. For me, I've had no issues with 1Password 6.8 with "verify browser signature" turned on, presumably using native messaging. I've tested it with both the current release version of the 1Password extension and the latest beta.

I'll close the issue for now, but if you find any problems, let me know and we can

[2017-07-23 00:58] #118 closed

[2017-07-23 01:00] dmarmor commented on #123
Yeah, I'm not sure about that focus problem, but I suspect it's either a macOS problem or might have to do with Choosy? I guess I'll close this issue for now, since I can't think of any way to help with the focus problem that would be within the scope of Epichrome. But if you notice any patterns or have any ideas that seem like there might be something going on with Epichrome, let me know and we c

[2017-07-23 01:00] #123 closed

[2017-07-24 08:27] wizonesolutions opened #124 "Regression: Cmd-Shift-L is not working to show address bar"
Before, `Cmd-Shift-L` would let me see the address bar/extensions/etc. I wanted to tweak some Epichrome Helper settings, since suddenly non-app links aren't opening in my default browser anymore after upgrading.

Expected: Pressing `Cmd-Shift-L` switches app to full-browser mode and back.
Actual: Nothing happens.

I checked that my keyboard layout is correct. I don't _think_ I'm mis-remembering th

[2017-07-24 15:55] dmarmor commented on #124
The shortcut still seems to be working for me. Have you confirmed that the Epichrome Helper extension is still enabled in your app? The latest update to Chrome has taken a very conservative approach to auto-installed extensions and it now starts them off disabled with no notification. (I'm working on having new Epichrome apps pop up a first-run page to warn users to turn on the extension. Not an i

[2017-07-24 16:05] wizonesolutions commented on #124
It was that! Thanks

24. jul. 2017 17:55 je oseba "dmarmor" <notifications@github.com> napisala:

[2017-07-24 17:52] dmarmor commented on #124
Excellent! Glad that worked.

[2017-07-24 17:52] #124 closed

[2017-08-12 14:57] APMOadmin opened #125 "Uncaught TypeError: Cannot read property '1' of null at HTMLAnchorElement.ssbContent.handleClick"
Uncaught TypeError: Cannot read property '1' of null
    at HTMLAnchorElement.ssbContent.handleClick (chrome-extension://ngbmbabjgimgbfobhfhjpfhpmpnhbeea/content.js:5)
ssbContent.handleClick @ chrome-extension://ngbmbabjgimgbfobhfhjpfhpmpnhbeea/content.js:5

Can reproduce with Jira Portfolio (cloud). Functionally everything else works. If I disable Epichrome helper it works.

Please let me know wh

[2017-08-12 19:43] ylluminate opened #126 "Syncing Epichrome to other workstations"
Hey, I got to thinking about your previous work to detect all Epichrome instances to make proper updates.

Any suggestions for making a script with rsync that will detect all Epichrome App instances and then will sync out the app and configs to a destination?  It would be nice to have something like:
`epichrome app_sync  <all | app_name> dest_username@dest_host`

So far I've been doing, but it's a

[2017-08-18 20:54] jslez commented on #3
Hi! I love EpiChrome and it's just the best thing ever. I now have dedicated SSBs for different web apps - Gmail, Facebook, Google Calendar. The EpiChrome Helper lets me choose how to handle links in each SSB, which is great. But there seems to be one limitation that gets in the way: the only two handling options seem to be either to open them in the current SSB or the default browser. If I'm in t

[2017-08-19 06:14] cbeams commented on #3
@jslez, consider using https://www.choosyosx.com as your default browser.

[2017-08-20 20:14] dmarmor commented on #3
Yes, Choosy or Browser Fairy are good solutions for this.

[2017-08-20 20:16] dmarmor commented on #125
I'll look into this. You're seeing this in the Chrome console, I take it? I've been in the midst of a substantial Epichrome Helper rewrite, so it's possible this bug is already fixed in the next release--however I probably won't get a chance to finish that release for quite a while. I'll see if there's something easily patchable here.

[2017-08-20 20:19] dmarmor commented on #126
Unfortunately, I've never really used rsync, so I'm not sure how much I can help with this. What I can tell you is that if you sync the app bundle itself and the contents of the corresponding Application Support directory (as it appears you're doing  with your scp command?) that should give you a proper new instance with all the same settings.

The only thing I noticed is that the name of the dire

[2017-08-20 20:19] #126 closed

[2017-08-21 03:01] jslez commented on #3
Thanks guys!

[2017-08-21 11:47] ylluminate commented on #126
Okay thanks, so I think the most useful thing would be this: is there a way to identify all Epichrome apps from an Applications folder with each ones' accompanying `Application Support/Epichrome` folder?

[2017-08-21 16:50] henderea opened #127 "Epichrome.app is not codesigned"
Recently, my company added restrictions that prevent installation of unsigned apps.  I have my own codesigning signature, so I've codesigned it for my own use, but that doesn't help other users.  I have created a version of the latest build dmg that has the app and dmg codesigned with my identity.  You can find it at https://epgsoftware.s3.amazonaws.com/epichrome-2.1.20-signed.dmg, but feel free t

[2017-08-25 22:01] dsemaya opened #128 "Notifications show Chrome icon, not app's custom icons, clicking on Notification often brings wrong app to front first."
I have set up Epichrome apps for Gmail, Hangouts, etc.  However when a notification appears it shows the Chrome icon, not the icon of the Epichrome app.

Also, when clicking on notifications, often the wrong Epichrome app is brought to the foreground first.

Is there a way to configure Epichrome so that it makes a unique copy of the Chrome engine, with it's own bundle identifier?  If so, would tha

[2017-09-01 16:04] charlescbeebe opened #129 "SSB fails to use vector image as custom icon."
Epichrome version: 2.1.20
Chrome version: 60.0.3112.113 (64-bit)
Icon: https://www.seeklogo.net/wp-content/uploads/2017/03/Google-Calendar-icon.png

Perhaps a clue to the issue is that Epichrome never renders a preview of the logo when selecting it via a system dialog:

<img width="824" alt="screen shot 2017-09-01 at 11 29 02" src="https://user-images.githubusercontent.com/904205/29978098-cbdb1c02

[2017-09-01 21:16] dsemaya opened #130 "Epichrome extension won't work in regular Chrome"
I tried loading the Epichrome extension into my main copy of Chrome so that I can force it to open links in my default browser.  My default browser is [Choosy](https://www.choosyosx.com), not Chrome, and I use it to direct links to various Epichrome apps.

The extension shows me the following error:

Can it be possible to run the extension this way?

[2017-09-02 19:02] Pofadda opened #131 "Epichrome Helper not visible/present"
Just installed Epichrome on my 10.12 iMac.  Came to the end of the initial install and saw that the Helper extension needed to be enabled. I have looked in More Tools > Extensions including 'more extensions' and don't see it anywhere. Following other advice, I trashed and emptied the GoogleSoftwareUpdate folder (in ~/Library/Google/( not /Library/ as per advice. No 'Google' subfolder in there...)

[2017-09-08 17:37] alanhogan opened #132 "My Epichrome app seems to have been renamed to Google Chrome?"
The Epichrome app I had created (called Gmail) went missing from my Dock when I restarted. (I’m using the July 22 build; been a longtime user.)

When I launched Google Chrome.app, I realized it was actually my Gmail app!

So I renamed it to Gmail.app. (Of course, my custom icon was lost.)

But when I relaunched it, it actually just opened Google Chrome (!?) with my real Chrome profiles, extensions

[2017-09-15 10:46] mhuusko5 opened #133 "Apps created on High Sierra duplicate launch when opened"
I've encountered a strange issue where when I try to open an already opened epichrome app, instead of activating/bringing it to focus, a duplicate app opens, then immediately closes but with the tab(s) from the duplicate app transferred to the open app.
I'm not sure the reason – only that it's only happening with epichrome apps I've created since updating to macOS 10.13.

[2017-09-15 11:13] mhuusko5 commented on #133
It stopped happening, then started again. Also assigned space is not being respected, instead app is launching/creating new windows in the space chrome is assigned to.

[2017-09-22 15:53] thomasthechan opened #134 "Hide Menu Bar?"
I'm as green as they come...loving Epichrome, but wondering if there was a way to hide the menu bar? It's obvious that it is a Chrome browser and I'm looking for a way to disable the menu bar to get the right feel.

[2017-09-22 16:27] bknowles commented on #127
I can't seem to run this app at all without having it be codesigned.  Clicking the "open anyway" button for EpiChrome doesn't do anything.

[2017-09-22 16:30] henderea commented on #127
Feel free to use the version I codesigned.  If the official release isn't getting codesigned, I can keep creating a codesigned version of it with each release since I need that myself anyway.  It isn't hard for me to do, and only takes me a few minutes.

[2017-10-01 16:15] dsemaya opened #135 "Epichrome apps should have unique bundle identifiers when running ChromeEngine"
Since the OS thinks that Epichrome apps are simply another instance of Chrome the following items don't work:

- Can't set mailto protocol helper for an Epichrome Gmail app (Chrome opens instead)
- Can't individually control notifications settings in System Preferences for Epichrome apps (Only all Chrome-based apps)
- Notifications always show Chrome icon instead of the Epichrome app's icon

If Ep

[2017-10-02 06:34] feinstruktur opened #136 "URLs sent to EpiChrome strip path"
I'm using [Choosy](https://www.choosyosx.com) to set up custom inbound link rules for my EpiChrome SSBs. So for instance, I'll have a GitLab SSB and I'm setting up Choosy as the default browser with a rule to redirect all https://gitlab.com/* links to open with the GitLab SSB.

This worked fine for a while (with 1.8 of EpiChrome I believe) but recently (perhaps when updating to EpiChrome 2.x?) I n

[2017-10-03 06:41] msubel commented on #65
I think I may have found a workaround for this issue. My tests on 10.12.6 show that assigning the main Chrome app to no particular space (right-click dock icon -> Options -> Assign to: None) allows Epichrome apps to respect their desktop assignment. Of course you need to remember to launch the main Chrome app from the correct space or move it, but I think it's better to do it with one app than pot

[2017-10-03 12:24] cmacminn commented on #65
What I ultimately want is for my Epichrome apps (Gmail and Google Calendar)
to appear in *all* spaces. Along the lines of your suggestion, it seems
like my desired result can be achieved by assigning Chrome itself to "All
spaces". This works fine as long as one doesn't want to use Chrome as a web
browser for other purposes, since the windows will of course appear in all
spaces.

On Tue, Oct 3, 201

[2017-10-24 23:57] jbyler opened #137 "Some SSBs created with Epichrome cannot update their Chrome version"
Some of my Epichrome-created SSBs are on recent Chrome versions.  Since they have been around for a while, I believe this means they must be updating themselves successfully.

But others are on old Chrome versions, as reported in chrome://help/ .  They don't show any indication of a new version being available.  Quitting and restarting them doesn't trigger an update.

I'm having trouble finding in

[2017-11-28 15:12] samlimster opened #139 "Backup and restore epichrome aps?"
Hi folks!

Is there a way to backup my epichrome apps?  I've created several of them and want to be able to restore them onto a fresh computer.

Thanks in advance!

Sam.

[2017-11-29 15:29] eheaton commented on #136
I have the same exact issue. I thought this was a problem with Choosy, so I switched to Browser Fairy, and it carries over to that as well. Sometimes restarting the SSB helps, but it's inconsistent.

In situations where there's no default page set, it simply opens blank windows.

[2017-12-04 03:14] thebai opened #140 "strange window behavior"
Hi dmarmor,

Epichrome has been an crucial part of my setup for years now, but recently I noticed a strange behavior.

With a simple Gmail app (pretty standard configuration)
- checked: Never redirect domain-relative links that would open in the same tab
- checked:  Stop further handling for links sent to default browser (check this if links sent to default browser are erroneously also opening in

[2017-12-06 22:03] jlongman commented on #136
In my testing, I'm going Epichrome (say gmail) to Choosy to Epichrome (say GitHub, although its actually bitbucket shhhh!).  The first invocation will open the clicked link, subsequent clicks will open the home page of the second Epichrome instance.

Very strange indeed.

[2017-12-07 16:30] dzg opened #141 "App icon looks gnarly in HiDPI"
When in HiDPI mode on a Retina display, and using Cmd-Tab to switch apps, the icon for my Epichrome app looks jagged.

![image](https://user-images.githubusercontent.com/466557/33767586-7ddd46bc-dc22-11e7-85b3-40a56a937ab0.png)

Any way to fix this?

[2017-12-10 14:30] thebai commented on #133
this is happening to me also. Tried recreating the app with a number of different settings to no avail.

has anyone found any fixes?

[2017-12-16 19:56] ssssamstrup commented on #134
When creating an app, step 3 gives you the choice of choosing the app style.

![image](https://user-images.githubusercontent.com/4302516/34073830-259fbd90-e2a3-11e7-9a5f-3c14658f908b.png)

If you choose App window you don't get the chrome menubar, but just a normal app menubar.

If you meant a way to hide the normal menubar that is shown on all apps I guess this won't be doable without risking ove

[2017-12-18 14:31] mhuusko5 opened #142 "Chrome extension failing"
Most of my extensions work, but this one (https://github.com/nirvanatikku/bittrex-enhanced) silently fails/doesn't render

Reproduce:
Visit e.g. https://bittrex.com/Market/Index?MarketName=BTC-VTC with above extension, chart with "chart by TradingView" at the bottom should render in place of default one

[2017-12-24 12:43] bfenster commented on #133
I can add that this does not seem to be limited to applications created on High Sierra. Some (but not all) of my epichrome applications created pre-10.13 has the same problem.

I've experimented with various settings to try to fix this and I'm not certain what's actually helped, but I think checking the "Send incoming links to the main window instead of a new tab" option in the Epichrome Helper ex

[2017-12-25 10:12] #142 closed

[2018-01-04 14:09] tdhopper commented on #131
I am having this same issue.

[2018-01-04 19:52] webbower commented on #140
I'm having a similar issue. I have everything unchecked and no rules in the helper extension options (trying to debug) and whenever I Cmd + Click or Cmd + Shift + Click a link inside the SSB, it opens the link in my default browser. What's even more fun is in one of the SSBs I have set up, when I click one of the UI buttons that shows a dropdown menu (marked up with an `<a href="#">`) and no modif

[2018-01-08 20:00] webbower commented on #140
Looks like maybe a bug in the Epichrome extension. I disabled it and the buggy behavior stopped.

[2018-01-24 02:34] linusbobcat opened #143 "Epichrome and the majority of Epichrome apps fail to start after applying Security Update 2018-001"
Touchbar MacBook Pro 2016
macOS 10.12.6 Sierra

After applying the latest security updates, which patch Spectre and meltdown, the majority of Epichrome apps fail to start, they bounce in the dock, and after a long time they stop bouncing but become frozen. Selecting them does nothing, no window opens at any point, and they don't show up in the cmd-tab switcher.

Some of the apps do open and have a

[2018-01-24 03:01] #143 closed

[2018-01-29 18:30] dsemaya commented on #128
Any thoughts on a way to solve this?  I'd be content with figuring out how to change just the icon.

[2018-02-27 18:46] dpickett commented on #136
this happens intermittently for me too. Restarting helps most of the time.

I am using Browser Fairy

[2018-02-27 22:47] demmer commented on #140
I ran into the same issue using Quicksilver shortcuts. Disabling the extension stopped the bad behavior as well.

[2018-03-01 22:02] mandeepr opened #144 "Option to disable some keyboard shortcuts"
I use Epichrome for a web app that already maps the Command+Shift+L shortcut, but whenever I use it, both the app and Epichrome's shortcut are invoked, causing epichrome to switch window type. I want to keep the context menu option for this, but disable the keyboard shortcut.

[2018-03-07 19:48] hendyj opened #145 "Closing and Reopening an Epichrome app brings up Chrome Browser with Tabs and blank page"
This is on OSX High Sierra. I made an app using epichrome for Google Calendar. If I minimize the window and click the icon in the dock google calendar shows up and everything is fine. If I close the window (the app is still running in the dock) and click the icon in the dock I get a new window running chrome with tabs instead of Google Calendar. If I close out of the app out of the dock and reopen

[2018-03-16 11:59] seaneking commented on #145
Also seeing this - closing all windows of Epichrome app then reactivating from the dock opens an empty Chrome tab rather than the app itself.

Chrome 65
MacOS 10.13.3
Epichrome 2.1.20

[2018-04-16 07:02] Zettt opened #146 "Change window style to tabs after creation?"
I'm having a problem with one specific SSB. I created it using the "one app in one window" style but now I'd like it to have tabs instead. For some reason, when I press ⇧⌘L and close the browser, the tabs do not show up when I launch the SSB again. It goes back to the window style it had before. Is this a bug or a failure on my end?

[2018-04-17 22:55] heyfletch commented on #17
I registered my "Dev Browser" as a browser, but it doesn't show up as an option... for example in CodeKit's list of Browsers to select. Wondering if there's a way to register this, especially after creating the app.

[2018-04-18 20:08] ylluminate commented on #126
@dmarmor so I found something peculiar.  When I copy apps over now the apps are not retaining their settings, neither are the retaining settings even after starting and then customizing and quitting the Epichrome apps!  Extremely strange behavior... Any thoughts?

[2018-04-29 11:50] williamku opened #147 "is there a way to stop EpicChrome to trigger Chrome version update?"
hi, @dmarmor ,
I have the need to keep using a particular version of Chrome browser.   Is there a way to configure the Epic-Chrome not to automatically update the Chrome browser?
Thanks!

[2018-05-02 06:27] Zettt opened #148 "1Password 7 beta and Epichrome apps"
1Password 7 beta 10 does not have an option to "allow unverified browsers", like mentioned in issue #118". I'd like to ask how we can get 1Password 7 working with Epichrome browsers. Do we have to copy some files or create our own JSON?

[2018-05-08 21:25] camner opened #149 "mailto: links?"
I use Epichrome to create an SSB for Fastmail.com.  But _mailto:_ links don't work.  Is there a workaround?

[2018-05-10 07:54] ylluminarious commented on #126
@dmarmor I am having a similar issue. Epicrome apps simply lose all settings and extensions when transferred to another machine. Even when copying both the app bundle and the settings under `~/Library/Application Support/Epichrome/Apps`.

[2018-05-10 07:55] ylluminarious commented on #139
Related discussion here: https://github.com/dmarmor/epichrome/issues/126

[2018-05-16 06:29] ey51 opened #150 "Multiple Chrome Personas Support"
This is awesome.
Not having webapps as separate windows that I can task switch from/to was a major pain for me on mac (moving from win), and you elegantly solved it. The rules in the options are also great. Thank you. I can even donate to your paypal.
I have one suggestion: I use two personas in chrome (one personal and one for work). I have also made two docked apps using your tool for personal g

[2018-06-13 20:39] brentdodell commented on #145
I'm having this issues as well. I'm new to Epichrome, but love it other than this issue. It would be great if it could either:

1. Quit the app when the window is closed
2. Reopen the same original view/homepage/url setup when app was first created with Epichrome.

[2018-06-20 07:27] kotekhutsishvili opened #151 "Run the window as an existing user"
Can it be launched under the user which is already running on Chrome? Because I use some extensions and if I login there again I have basically two chromes running on the machine.

[2018-06-20 14:31] bradsmith74 commented on #137
I think I'm seeing the same issue. As of today, my normal Chrome reports that it is up to date on:
Version 67.0.3396.87 (Official Build) (64-bit)

However I have a few Epichrome SSBs that all list their version as:
Version 66.0.3359.181 (Official Build) unknown (64-bit)

It appears that came out on May 15, 2018, which is over a month ago. I'm not sure if the Epichrome version trails the official b

[2018-07-01 04:16] ylluminate commented on #126
So @dmarmor I spent a little time on this synchronization issue and I got it working... kind of.

It turns out that every time I push an app to another workstation, Chrome via Epichrome appears to NOT allow extensions (and themes) that were installed on another workstation to work on the new workstation.  Bookmarks & History and all are copied and show up fine, but when I go into settings it warns

[2018-07-06 23:32] jpedigo commented on #145
Also having this problem. Even tried going into settings to set the startup page, but that had no affect.
Chrome 67
OSX 10.12.6
Epichrome 2.1.20

[2018-07-08 10:46] Vicedivic commented on #39
Can you give Epichrome a localhost as an URL?

[2018-07-08 10:48] Vicedivic opened #152 "Localhost URL"
I wanted to make my localhost an app, so i gave the localhost "localhost/practice" as the URL, but when i open the app it just opens up a blank Chrome tab. How do i make it react like it was a real website?

[2018-07-09 13:28] Vicedivic commented on #152
Thanks, it worked with the http prefix

[2018-07-24 21:16] ylluminarious commented on #66
@JeremyMorel I was having the same problem as well, due to an apostrophe in the app name. I guess Epichrome should be fixed to handle special characters in the name... an apostrophe isn't even really a special character in my opinion. It's just standard ASCII so you wouldn't think that it would cause any problems.

[2018-08-02 20:25] webxl opened #153 "Completely broken with Chrome Beta"
Version 69.0.3497.23

When I run from the command line, I get errors like:

[code]
All tabs show "Can't open this page" or "Aw Snap!"

[2018-08-03 00:35] ylluminate commented on #153
Same here all the way around.  Very disruptive situation - anyone find a solution so far?

[2018-08-03 05:11] webxl commented on #153
@ylluminate I just went with my old solution, Chrome Canary. But not sure what to do if you're trying to use this for SSB.

[2018-08-04 23:51] GrogHills commented on #153
Oh no. I'm seeing the issue too. Any tips?

Chrome Version 69.0.3497.23 (Official Build) beta (64-bit)

[2018-08-10 13:42] LETRA opened #154 "Mac media keys"
Hi. Is there any way to work the macOS media keys? I am using epichrome with subsonic in Mojave Beta.

[2018-08-14 07:05] jacopocolo commented on #153
For everyone with the same problem: I downgraded to Chrome 68 and everything is back to normal. It also looks like Chrome 69 is not available anymore? My Chrome shows version 68 as the most recent 🤷🏻‍♂️

[2018-08-22 08:53] foliovision commented on #33
Thanks Leogama for the solution. I've tried applying it but still ended up with the error message:

![epichrome-unable-to-find-google-chrome-executable](https://user-images.githubusercontent.com/1180948/44453146-aac04580-a5f8-11e8-9592-c49bf169584e.png)

I'm attaching my runtime.sh. Perhaps someone could let me know which Chromium change I missed (I did hit all three of them. It could be that I do

[2018-09-03 00:44] dmarmor commented on #153
Hi everyone! Thank you all for reporting this. I've gotten Epichrome working again with Chrome 69 and hopefully the new release will go up tonight. Please read the release notes, as I had to make some fairly major architectural changes to make it work, due to Chrome 69's heavy security.

[2018-09-03 00:50] dmarmor commented on #148
Please let me know if this persists under Epichrome 2.2.0 (hoping to release it tonight).

[2018-09-03 00:52] dmarmor commented on #135
Unfortunately there's just no way to have the Chrome engine run under anything but the Chrome bundle ID. This is now especially true under Chrome 69 (and presumably later), which is very strict about checking that nothing about itself has been altered.

[2018-09-03 00:52] #135 closed

[2018-09-03 00:53] dmarmor commented on #147
I don't know if there's a way to turn off auto-updating in Chrome itself, but that would be the only way to do it. Epichrome apps are just a wrapper for Chrome instances, so if Chrome wants to auto-update, then running an Epichrome app will trigger that, just the same as running Chrome itself would.

[2018-09-03 00:53] #147 closed

[2018-09-03 00:55] dmarmor commented on #137
Epichrome apps should always report as being the same version of Chrome that is installed on your system, as all they are is a wrapper around Chrome. So I'd suspect something else might be going on on your systems. Please let me know if this behavior persists under Epichrome 2.2.0.

[2018-09-03 00:55] #137 closed

[2018-09-03 00:56] dmarmor commented on #127
Hi @henderea! Thank you for reporting this and for the offer. I had to do some heavy work on Epichrome to get it working again with Chrome 69, and took the opportunity to finally get my act together and join the Apple Developer Program, so going forward Epichrome will be codesigned and shouldn't cause problems with GateKeeper. Hoping to get the new release out tonight.

[2018-09-03 00:56] #127 closed

[2018-09-03 01:00] dmarmor commented on #130
Epichrome Helper is not meant to run under Chrome and will definitely not work except in an Epichrome app. If you really need it in a general Chrome browser, the best way to do that would be to create an Epichrome app with a tabbed-window interface (rather than app-style) and *no* URLs specified. That will create a browser that should obey your homepage settings just as Chrome would.

[2018-09-03 01:00] #130 closed

[2018-09-03 06:31] ylluminate commented on #153
Hey @dmarmor thank you so much for your effort in this area! I just attempted a 69 beta install and it gives a crash on each load (reload) running on 10.14 Beta (18A377a):
![image](https://cl.ly/66893cb804c7/Image%202018-09-03%20at%202.30.44%20AM.png)

Google Chrome Helper crash report: https://cl.ly/5705dd1a3877

[2018-09-03 12:45] dmarmor commented on #153
Oh boy.

I’m still running 10.13 and it’s been working for me. Can you do me a favor and run one of your apps from the command-line, like so:

<your-app>/Contents/MacOS/Epichrome

And send me the stderr result?

[2018-09-03 13:27] ylluminate commented on #153
So first upon execution, I got this:
Unable to update app to new version of Google Chrome. (Error filtering Info.plist file. (Failed to import the site module
Your PYTHONPATH points to a site-packages dir for Python 2.x but you are running Python 3.x!
     PYTHONPATH is currently: "/usr/local/lib/python2.7/site-packages:"
     You should `unset PYTHONPATH` to fix this.)) It may or may not run prop

[2018-09-03 15:37] dmarmor commented on #153
Thanks for sending that. The good news is, it looks like problem is that it didn’t update properly, so there’s still hope 2.2.1 itself isn’t  broken under 10.14.

It looks like somehow Python 3 is installed at /usr/bin/python? Do you know if 10.14 uses python 3 as its default? Though if that was the case, I’m not sure why PYTHONPATH would still be pointing at the library for 2.7.

Is there any way

[2018-09-03 15:43] ylluminate commented on #153
Without looking at things closely before, I guess it could be due to MacPorts and Homebrew.  I've been moving everything over to MacPorts, but I still have `python` from both of those in the path; note the order:
[code]
So apparently Epichrome is honoring the path and using the first available instance of python vs the system's python.

So `PYTHONPATH` is pointing at the Homebrew installation, odd

[2018-09-03 16:05] dmarmor commented on #153
That’s actually extra puzzling as I just fixed a relative path to python in one of the calls, so they all should be explicitly calling /usr/bin/python. Did you by chance download 2.2.0 in the few minutes it was up before I caught that and put out 2.2.1? If so, try the newer version and see if it fixes the problem. Fingers crossed. If not, I can’t figure out how it’s ending up running one of the ot

[2018-09-03 16:29] ylluminate commented on #153
Hmm, unfortunately I did get 2.2.1 and have the same problem: https://cl.ly/4a9a878fefb2

[2018-09-03 16:47] dmarmor commented on #153
Well, something is definitely wrong, as that output is showing the Chrome engine exec still being called zzzzChromeEngine, which it no longer is in 2.2.1. I suspect something went wrong in your update process. Can you try creating an app from scratch with 2.2.1 to see if it works properly for you?

Then if you don't have a backup of your old app, it might be possible to roll back the version numbe

[2018-09-03 17:06] ylluminate commented on #153
A new Epichrome app DOES work. Everything starts up just fine and Chrome 69 works in it. When I start an old app, I still get the dialogue:
[code]

So something is definitely wrong in the update process. When it finally does start up, after spewing all of the errors, it still does start with Chrome 68.x so it's giving a mish-mash of versions in some fashion.

[2018-09-03 18:04] dmarmor commented on #153
Yeah, something about your environment is clearly stopping Epichrome from successfully updating your apps.

My recommendation would be to recreate those apps. If you have a lot of customization to your user profiles so that you don't want to start from scratch, there are a few strategies for preserving those, which are outlined in the Readme under "[Simple Method](https://github.com/dmarmor/epichr

[2018-09-03 19:39] ylluminate commented on #153
Yeah, there's no way I can recreate these apps. I've got at least 50 Epichrome apps. I'm going to have to figure out something else... 😢

[2018-09-03 20:43] ylluminate commented on #153
Thanks... So yes, same error with 2.2.2: https://cl.ly/97bda2840a58

Could you just breakout a manual incantation for `/Applications/Epichrome.app/Contents/Resources/Runtime/Resources/Scripts/runtime.sh` that would reproduce the update in a manual fashion?  I'm assuming I need to know some args, etc.  Then I can try to hunt down what might be going on.  It almost seems like a permission issue, alt

[2018-09-04 00:58] dmarmor commented on #153
This is so very weird--that log you sent in your last post *still* shows zzzzChromeEngine, which means it's definitely not 2.2.2. I just don't understand what's happening on your system.

Unfortunately you can't just run runtime.sh from the command-line without doing a lot of other work. It's really meant only to be run from within an app bundle.

I'm going to have to disappear from here for the n

[2018-09-04 01:45] ylluminate commented on #153
Hey thanks so much - no problem. I'm just going to give up on moving to 69 for now. I'll keep a backup of Chrome 68 for the time being - I use Safari for my main browser anyway and just use Epichrome apps for all my specifics so this should be able to hold without a lot of fuss.  I've got some pretty pressing things going on myself to keep me tied up - I was just hoping to resolve them before the

[2018-09-04 13:32] ylluminate commented on #153
Just to document this as well so I don't forget to look into it more later, I'm finding that when I start some apps up, even though I have 2.2.2 installed, I still get a download prompt for it in older Epichrome apps, eg:

![dialogue](https://cl.ly/248179982fac/Image%202018-09-04%20at%209.31.02%20AM.png)

And the `Info.plist` shows:
[code]

[2018-09-04 15:32] dmarmor commented on #153
Is that one of your apps that you've tried to update but wasn't working under Chrome 69? Can you check the config.sh and see if the version number is 2.2.2 in there? If not, this is probably just more fallout from the incomplete update, and it's looking at that version number and seeing that it's not the latest.

If it *is* 2.2.2 in config.sh, then it looks like I've got a bug in the version-check

[2018-09-04 15:52] ylluminate commented on #153
So on that particular app noted above (it's an app dedicated to Racket programming so I keep all of those topics consolidated and the browser opens back up where I left off), the `config.sh` shows:
[code]

And I can't stress enough: thank you for being such a butt kicker on this project.  Epichrome is a huge gift and it's unfortunate that its not more widely known in terms of its power and the SAN

[2018-09-05 12:57] henderea commented on #153
I was having issues getting it to offer updating the runtime after installing the new version of epichrome.  I ended up discovering that the issue was an old copy of Epichrome.app elsewhere on my filesystem, which one of the mdfind commands was picking up on.

So here's the solution that worked for me:

If either of these commands show anything, delete the files they point to:

[code]
[code]

Make

[2018-09-05 13:27] GrogHills commented on #153
Thank you so much for taking the time to update epichrome with the latest chrome version. I just updated and everything is working great! I love epichrome. Thank you!

[2018-09-05 16:10] ylluminate commented on #153
@henderea good call and good idea!
[code]
revealed 3 instances of `Epichrome.app` from both my ~/Applications/ and 2 from other backup volumes.  After removing these and restarting, I initially got a quick (only was up for about 1-1.5 seconds) "Profile error occurred" bar, but then after I put in Chrome 69, boom, it updated and it now works!

So @dmarmor fantastic news in this area with it working

[2018-09-06 05:26] pedramamini opened #155 "CPU resource consumption from 'lsof' call out."
The usage of ```lsof``` to wait for Chrome engine exit consumes a lot of CPU resources. The call-out can be found here:

[code]

I modified one of two instances of Epichrome to drop the ```1``` modifier from ```+r```. Falling back to the 15 second default (according to man) and it drastically reduces the overall consumption, though there is a brief usage spike every 15 seconds:

![image](https://u

[2018-09-06 12:36] henderea commented on #153
@ylluminate to be clear, the issue is any Epichrome.app indexed by Spotlight (other than the main copy you updated, obviously).  So if you don't have Spotlight enabled on your backup volume, copies of the app on there won't matter.

I don't know what the `md` in `mdfind` is for, but that command uses the Spotlight index.  Somehow, all of the processes and shell commands for Spotlight use `md` in t

[2018-09-06 14:28] ylluminate opened #157 "[Total]Finder hangs Epichrome App creation in 10.14..."
Just a heads up here. Updated to the most recent build of Mojave and had an interesting issue arise. Each time I attempted to create an Epichrome app I was getting an AppleScript hang. I noticed that for some reason it was hanging Finder.  On relaunch of Finder, Epichrome proceeded naturally. I noticed that TotalFinder did not restart on relaunch so it seems like TotalFinder may have some issues t

[2018-09-06 17:09] GrogHills commented on #155
I'm seeing six lsof processes on my mac since the upgrade. I'm running six epichrome apps. These processes each use about 20% of my cpu, 100% of the time, with no end. I ended up killing the processes manually. When I restart an epichrome app the same thing occurs. New lsof processes running forever. Hmmm. Anybody else having this problem?

[2018-09-06 20:30] pedramamini commented on #155
It's part of the start-up script for monitoring Chrome exit. Seems the strategy for doing has changed from last revision to this. If you edit your Epichrome file, found for example here:

```Pedram.app/Contents/MacOS/Epichrome```

Edit the following line:

```    /usr/sbin/lsof -p "$1" +r 1 &>/dev/null```

To drop the ```1``` after ```+r```:

```    /usr/sbin/lsof -p "$1" +r &>/dev/null```

That'l

[2018-09-06 20:43] camner opened #158 "Custom icon disappears after relaunching SSB"
Just downloaded Epichrome 2.2.2 (have been using 2.1.x) and created a new SSB.  Chose custom icon, which "took."  Did NOT register as browser.

In Finder, icon of SSB is correct.  Initial launch of SSB worked fine and custom icon is in dock, as expected.

After 2nd launch of SSB, after dock initially shows correct custom icon, reverts to Epichrome "globe" icon.  "Get Info" still shows correct cust

[2018-09-06 21:04] dmarmor commented on #155
I won’t have a chance to look at this till next week, but soon as I can I’ll look for a less CPU-intensive way to wait for the parent process to end. If anybody knows a better way to do this with only default-install commands, I’d be grateful!

[2018-09-06 21:16] camner commented on #158
Solved problem by deleting the SSB using AppDelete.  This deleted (I think) all of the support files, etc., as well.  I then was able to create a new SSB and everything worked fine.  I suppose there was a corruption somewhere, but all is well now.

[2018-09-06 21:16] #158 closed

[2018-09-07 14:50] ylluminate commented on #155
I'm finding the same thing here. Unfortunately I ended up with a boatload of `lsof` processes (9 while running 9 Epichrome apps at once) and hundreds of % cpu utilization by (Epi)Chrome processes as well as a halting system. Even with >100 GB of ram and 16 cores, my system is acting as though it was beaten in the head with a baseball bat.

Hmmm, not sure of a good replacement.

[2018-09-07 14:54] ylluminate commented on #155
@henderea happen to have any thoughts on this?

[2018-09-07 15:58] ylluminate commented on #155
This is a really good find @henderea. That's a rather obscure usage for `kill` with that signal that I was not aware of!  Extremely useful to know about, thanks!

[2018-09-10 08:17] fatmcgav opened #159 "App name changed after 2.2.2 upgrade"
Hey,

Firstly, thanks for a great app :)

I've just upgraded my 'Google Chrome - Work' Epichrome app to 2.2.2, however it appears that the dock icon name has now changed to `zzzChromeEngine`.

This seems to inadvertently break my `[Choosy](https://www.choosyosx.com/)` setup, as it's looking for the `Google Chrome - Work` app.

Is there any way to rename the app back? I've tried renaming `/Users/fa

[2018-09-10 09:13] fatmcgav commented on #159
Hmm, it seems to get worse...

I've just upgraded Chrome to `69.0.3497.81`, and upon re-launching `Google Chrome - Work.app`, all the pages crash with `Can't open this page`, and I get a load of notifications for extensions that have crashed aswell :(

Any pointers?

[2018-09-10 14:58] fatmcgav opened #160 "No longer shows window previews with Hyperdock"
Following on from #159, I've noticed that window previews no longer appear to be working in Hyperdock (https://bahoom.com/hyperdock/).

These worked fine prior to upgrading to 2.2.2, and continue to work fine for the vanilla Google Chrome app...

E.g. Normal Google Chrome hover:
![image](https://user-images.githubusercontent.com/2235170/45305347-fc7e3080-b511-11e8-953c-f71bf08e26a1.png)

Epichrome

[2018-09-12 22:54] dmarmor commented on #155
Thanks all for bringing this to my attention, and thank you @henderea for the kill -0 loop idea. I've incorporated that into a new version that will hopefully solve the CPU-usage problem. Hopefully will be up tonight or early tomorrow...

[2018-09-12 22:54] #155 closed

[2018-09-12 22:56] dmarmor commented on #153
Thank you @henderea for noticing the mdfind problem. I've stripped out some legacy code and changed the way mdfind is used so it should now always find only the latest installed version.

@ylluminate -- I'm really glad getting rid of the old versions has helped! Has that solved all your updating problems, or are you still having trouble with some of the other updating issues?

[2018-09-13 00:31] ylluminate commented on #153
@dmarmor it seems all is good now as far as updating goes!

[2018-09-13 04:08] dmarmor commented on #153
That's great news! Give 2.2.3 a try and if all is well, fingers crossed we can close this issue...

[2018-09-14 12:59] clarckantoine opened #161 "All my Apps doesn't work anymore"
Showing the Aie Aie Aie message (in french) as chrome doesn't succeed to load pages. Internet and chrome are working well. WTF ?

[2018-09-14 14:29] clarckantoine commented on #161
You are right ! I was using 2.1 since august 2017 smoothly. I hadn't see
the new 2.2 version to work with Chrome 69 and didn't get any message.
the chrome update catch me today. Anyway, I just replace 2.1 by 2.2.3 in my
applications folder, and now all my apps are working, asking me at the
first start if I wanna run 2.2.3 now. Thanks for your job and for having
answered so quickly ! Regards

Le ve

[2018-09-14 14:41] dmarmor commented on #161
Excellent, glad it's working again!

[2018-09-14 14:41] #161 closed

[2018-09-15 14:52] ylluminate commented on #153
So @dmarmor another workstation was updated here and the user hit a wall.  There was an Epichrome.app instance on another volume again and he struggled with it for about an hour.  After I heard about it I executed `mdfind "kMDItemCFBundleIdentifier == 'com.dmarmor.MakeChromeSSB'"` and found that other instance and upon removing it (`sudo rm -fr`'ing it) the Epichrome apps started up and updated as

[2018-09-18 12:03] JimmySamurai opened #162 "Following a desktop notification opens link in ALL open epichrome apps"
- I have Gmail set up as an Epichrome app. (I have 7-8 Epichrome apps, usually running simultaneously)
- OSX Desktop notifications are switched ON for Gmail.
- When clicking 'Open' in desktop notification, Gmail is launched in every open Epichrome app as a new tab.
- This only started occurring since updating to 2.2.2, persists in 2.2.3

Any way to prevent this happening?
Ideally, it should switch

[2018-09-19 20:52] GrogHills opened #163 "MacOS Mojave Default Browser Behavior Broken"
I just upgraded to the latest public beta of Mac OS Mojave, which is being released in just a few days and I've found that it has broken Epichrome! I tried to characterize and research as much as possible, because I love the app so much, and I want to help out!

Issue: Epichrome browser apps now are preventing google chrome the main app, from being the default browser.
Result: All browser events a

[2018-09-20 14:49] ja601 opened #164 "All epichrome apps stopped working showing epichrome crashes on startup"
All of a sudden _all_ epichrome apps I'm using (Gmail, GCal, Amazon,..) have stopped working simultaneously. Every single one now crashes on startup with an error message that epichrome has crashed. See screenshot:
<img width="802" alt="screen shot 2018-09-20 at 16 45 03" src="https://user-images.githubusercontent.com/23050789/45826467-d8320900-bcf4-11e8-9362-96892b972cec.png">

An epichrome (curr

[2018-09-20 15:01] ja601 commented on #164
Ok, I put the older Chrome back in (**68**.0.3440.106)
and the epichrome apps are back up.

So, guys careful with the most recent update. It seems to be incompatible.

Hopefully this incompatibility is fixed soon.

[2018-09-20 15:18] ja601 commented on #164
I'm still trying to figure out how to suppress Chrome updates for the time being.

`defaults write com.google.Keystone.Agent checkInterval 0`
was already overridden once. :-/

[2018-09-21 06:40] tomatic commented on #164
Have you downloaded the latest EpiChrome release? Works fine with Chrome 69 for me.

[2018-09-21 07:39] ja601 commented on #164
You are absolutely right. I wasn't aware of the version update - somehow thought updates would be automatic or that there would be reminder.

All good now with 2.2.3 in combination with Chrome 69. Thanks.

[2018-09-22 00:19] kranix0 opened #165 "RescueTime extension doesn't log web use in SSB"
I'm an avid user of [RescueTime](https://www.rescuetime.com) as a means of measuring and managing my time use. With normal Chrome, the RescueTime browser extension is able to track what sites I'm looking at. In an Epichrome SSB, the extension itself appears to know what I'm looking at (see image below) but this isn't reported in my RescueTime account. Instead, it just reports the whole SSB app (pr

[2018-09-26 19:00] pnewell opened #166 "Chrome Extension Rules Not Working"
I am trying to set up rules so that links open in other the default browser but it never seems to work.

I have the following set:
![](https://cl.ly/18fbf846a0bf/Screen%20Shot%202018-09-26%20at%203.02.39%20PM.png)

The rule text is:
`https://support.unqork.com/*`
`https://unqork.zendesk.com/*`

I tried the following two links
https://unqork.zendesk.com/agent/dashboard
https://support.unqork.com/hc

[2018-09-27 09:08] cmacminn opened #167 "Long delay when links from epichrome are sent to Safari"
I use Safari as my default browser and I'm experiencing a LONG delay (5-10 seconds) between clicking a link within an epichrome app and the page opening in Safari. It does eventually work.

Not clear whether the problem is with epichrome, Safari, or something else.

macOS Mojave / 10.14.0
Safari 12.0
Epichrome 2.2.3

[2018-09-27 09:11] purevertigo commented on #163
This also happens to me.

[2018-09-27 14:20] GrogHills commented on #167
I have a similar issue with the Firefox browser.

[2018-09-27 23:50] boywithk9 opened #168 "Unable to Run / Unable to clear old engine"
Recently I've had to start over creating new epichrome apps because when I try to launch an existing app, I get an error:

Unable to Run
Unable to clear old engine

Is starting from scratch the only solution?

[2018-09-28 12:41] enkia commented on #163
@GrogHills Yes, I'm having this exact issue as well.

[2018-09-30 21:18] boywithk9 commented on #168
Recreating the app only solves it until I restart. Then I get the same error again.

[2018-09-30 23:16] jameschao commented on #128
This seems to be a duplicate of https://github.com/dmarmor/epichrome/issues/122.

[2018-10-01 17:43] jonmartin345 commented on #163
Experiencing the same issues here as well.

[2018-10-02 18:50] ostertoaster commented on #162
+1 to experiencing this issue. My notifications are coming from an SSB for Hangouts Chat, but same behavior.

[2018-10-04 05:36] Matts966 commented on #116
Hi, is this problem reproduced now?
I'm using MacOS Mojave and can't select chrome as default browser, and select an epichrome app.

Thank you.

[2018-10-05 15:52] andresrinivasan commented on #149
I've used [Browser Fairy](http://www.browserfairy.com/) to do similar things with an Epichrome based SSB. It does sometimes take a little playing to get the Epichrome setup to not thwart the redirect.

[2018-10-06 23:55] andresrinivasan commented on #167
Chrome as well. I thought I might try to downgrade Epichrome while this was resolved but I couldn't figure out a way without recreating my apps.

[2018-10-09 12:59] heyfletch opened #169 "Default Browser Changes to Epichrome App"
Whenever I launch an Epichrome app, the macOS Default Browser changes to that app. It removes Google Chrome as a browser option in System Preferences > General > Default web browser. I have uninstalled/reinstalled both Epichrome (2.2.3) and Chrome (69) on Mojave.

If I have registered the Epichrome app as a browser, then System Preferences lists 2 of those browsers (i.e., 2 "DevBrowsers"). If I do

[2018-10-09 13:04] heyfletch commented on #116
I've opened an issue here #169

[2018-10-09 13:08] heyfletch commented on #163
Having the same issue, although I also had this before Mojave. I opened an issue #169 after seeing this here. There is a related closed issue #116.

For me it, it is not random Epichrome apps. It's the most recently launched Epichrome app. I.e., launching an Epichrome app "steals" the Default browser role. If I close all apps and open Google Chrome, it becomes the Default browser again.

[2018-10-11 15:38] twadzins commented on #136
I see this as well, and as @dpickett mentioned, restarting fixed it for me. A full fix would be nice...

[2018-10-12 08:38] iandundas opened #170 "[Browser] wants access to control Finder"
Since upgrading to Mojave, I now get this message whenever opening one of my Epichrome-powered browsers. (I do not get it when opening vanilla Chrome, however).

<img src=https://dsc.cloud/iandundas/Screen-Shot-2018-10-12-10-37-17.10.png />

<img src=https://dsc.cloud/iandundas/Screen-Shot-2018-10-12-10-39-57.15.png />

I'm not keen to say "OK" without knowing why it needs this permission(it also

[2018-10-15 08:13] purevertigo commented on #163
Is this being looked at by @dmarmor?

[2018-10-20 13:40] swealpha opened #171 "Why do i get this error "Creation failed: Unable to find Chrome executable""
Hello!

I am using mac osx high sierra.

Why do i get this error that says "Creation failed: Unable to find Chrome executable" ?

Thank you.

[2018-10-22 20:40] jameschao opened #172 "Question about making epichrome a Chrome extension"
@dmarmor, can you explain a bit more about why you think that would be a good direction to go? Is it more for ease of use (e.g., turn the active tab into an SSB) or is it more for a technical reason?

[2018-10-24 13:10] msubel commented on #167
I'm facing this issue as well and I believe I was able to narrow it down to Epichrome by simply executing `open 'http://same-url-as-in-epichrome` in the terminal and trying with different default browsers.

When invoked from the terminal, Safari (or whatever other default browser) opens immediately. From Epichrome, aver 4-5 seconds.

Epichrome 2.2.3
Epichrome Helper 1.1.2
macOS 10.14 (Mojave)

[2018-10-29 23:23] daviddumonde opened #173 "Losing icon, losing app name"
The apps I create with Epichrome have been intermittently either losing the custom icon, or losing the app name.

So a few minutes ago I noticed my "tulane.app" no longer showed the Tulane logo on the Mac app switcher, and instead showed the Chrome icon.

Then I quit and relaunched "tulane.app" and now the Tulane logo is back on the Mac app switcher, but the app name in the menubar has reverted to

[2018-11-02 15:06] grigorye commented on #173
I wonder if it's due to update of Chrome.

I have a few SSBs that suffer from this, but one that doesn't. And the only relevant difference that I see there is that SSB.app/Contents/Resources/ChromeEngine/SSB.app/Contents/Resources/xx.lproj/InfoPlist.strings have "(Google) Chrome" for CFBundleName/CFBundleDisplayName. And CFBundleGetInfoString for the "bad" SSBs is set to "Google Chrome 70.0.3538.7

[2018-11-06 00:52] afsoltys commented on #168
Same problem! Only happening with one of my apps though. @boywithk9 any luck? Anyone else?

[2018-11-06 00:56] afsoltys commented on #170
Same problem! @iandundas any luck? Anyone?

[2018-11-06 01:09] afsoltys commented on #168
<img width="532" alt="screen shot 2018-11-05 at 8 00 11 pm" src="https://user-images.githubusercontent.com/44791233/48036494-aeaf2e80-e136-11e8-8c0d-bf8a19f5ceb4.png">

[2018-11-06 22:57] afsoltys commented on #168
<img width="532" alt="screen shot 2018-11-06 at 12 04 33 pm" src="https://user-images.githubusercontent.com/44791233/48099380-5dae4180-e1ed-11e8-9d4e-3ced85a7e1ae.png">

[2018-11-06 22:57] afsoltys commented on #168
This error message also appears sometimes...

[2018-11-07 08:59] talleux commented on #123
Hello, i have the same problem using choosy: if an epichrome browser is already open, choosy won't focus on it nor send the URL - simply nothing happens. If i choose another browser (tested with Firefox, Safari, Chromium, Chrome Canary, Opera) then it works perfectly.
I use the current latest epichrome 2.2.3, and OSX El Capitan.

I really love epichrome, especially combined with choosy. It has bec

[2018-11-07 15:18] talleux opened #174 "Choosy won't focus on epichrome browser with epichrome 2.2.3"
Hello, i have the same problem as issue #123 using choosy: if an epichrome browser is already open, choosy won't focus on it nor send the URL - simply nothing happens. If i choose another browser (tested with Firefox, Safari, Chromium, Chrome Canary, Opera) then it works perfectly.
If the epichrome browser isn't already open, nothing will happend neither.

I use the current latest epichrome 2.2.3,

[2018-11-12 11:34] anbie commented on #169
I also see this issue on my Mac running macOS 10.14.1 and Chrome 70.0.3538.77 and Epichrome. It's quite annoying since Chrome is my most used browser and I'm using Epichrome to give web-based mail and calendar apps their own app appearance. With not being able to select proper Chrome as the macOS default browser this creates quite some mess with different instances of Chrome and Epichrome when ope

[2018-11-15 08:56] ylluminarious opened #175 "How to disable same-origin policy"
I am trying to disable the [same-origin policy](https://en.wikipedia.org/wiki/Same_origin_policy) in an Epichrome  browser for testing purposes. According to [this StackOverflow answer,](https://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome/6083677#6083677) all that's needed to accomplish this is to run Chrome with two extra command-line options:

[code]

I have tried to

[2018-11-15 19:50] ylluminate commented on #163
I'm not sure if this can help, but I use `Browser Fairy.app` quite successfully as my default browser + browser router for Mojave.  It's working out quite well and I'm not sure if perhaps this might be able to circumvent your current issues.

[2018-11-15 20:51] heyfletch commented on #163
I just installed Browser Fairy, and so far it looks like it is working. I'll report back if I still have issues.

[2018-11-16 17:16] ylluminate commented on #174
Have you tried `Browser Fairy.app` yet? I've been using it with great success for quite some time now...

[2018-11-16 17:22] ylluminate opened #176 "<EPICHROME_APP> wants access to control "System Events.app" in Mojave"
Been having an odd issue sometimes when either opening an app a second time (to get focus quickly) or sometimes when other apps attempt to open an Epichrome app instance.  The following dialogue pops up and then it seems to fail to open the link:

![example](https://cl.ly/c24aefb4b0af/Image%202018-11-15%20at%203.33.19%20PM.png)

Full dialogue contents for search indexing:

[2018-11-16 17:38] nopdotcom commented on #174
I'm not seeing these problems with Choosy on 10.13.

If you want to screw around with Platypus-scripting for this, the magic words are

/usr/bin/osascript -e 'activate application "Google Chrome"'

or

/usr/bin/osascript -e 'activate application "Twitter Epichrome"'

[2018-11-16 17:55] ylluminate commented on #176
Tentative possible solution, seems to perhaps alleviate the issue so far, is to manually add the app to `System Preferences > Security & Privacy > Privacy > Accessibility`. This is definitely not an optimal solution, but it might help or stop this... I've tried it a couple times and it seemed to help so far, but I'm going to need to allow some time to pass and more testing to be sure since the iss

[2018-11-20 11:38] zzamboni opened #177 "Epichrome apps no longer respond to Chrome's AppleScript API"
Epichrome apps used to respond to the Google Chrome AppleScript interface, which I used extensively to automate and integrate them.

Recently I switched laptops and in the process recreated a few of them. Now I've noticed that they no longer seems to respond to the Chrome AppleScript API. For example (I have an Epichrome app for OpsGenie):
[code]

I've also tried specifying the ChromeEngine app in

[2018-11-20 16:35] ylluminate commented on #175
Have you tried poking about in `/Applications/<EPICHROME_APP_NAME.app>/Contents/Resources/Scripts/*` yet?  It seems that `config.sh` is the main place to make changes...

The other thing is: can you make this work with Chrome by itself (no Epichrome) right now?  I can't help but wonder if some of these recent changes by Google have destroyed this function... so maybe its worth trying in just Chrom

[2018-11-20 17:02] ylluminarious commented on #175
@ylluminate Yes, this is what I tried in `config.sh`

[code]

That line is what causes the aforementioned behavior:

And yes, this works fine in Chrome by itself. The problem is specific to Epichrome.

[2018-11-28 21:04] jameschao commented on #176
@ylluminate - I'm not sure if this was the cause, but I've found that the Epichrome apps start really slowly when I enabled the accessibility setting (even on app start, the dock icon bounces really slowly). Did you see that issue as well?

[2018-11-28 21:29] ylluminate commented on #176
@jameschao interesting. I haven't really noticed this per se, but it has been sluggish in startup. I normally attribute that to keeping rather large browsing sessions per just about each Epichrome Chrome instance... I'll keep it in mind over the next couple days to see if I have any thoughts.

I am also running beta releases of macOS 10.14.2, so that might also affect things.

[2018-12-04 20:14] ylluminate commented on #176
You know @jameschao, I've noticed that Chrome itself in all Epichrome instances is running slower now... It seems that it's just moving at a slow lurch whenever any of them start up now. :(

[2018-12-04 21:58] jameschao commented on #176
For me, it's been ok overall in terms of performance. It was super slow only when I have accessibility access.

[2018-12-06 00:47] marlowe310 commented on #177
Just wanted to add my +1 -- the inability to use Choosy and Epichrome apps together is a bummer for my workflow, and I'd love to get it back up and running.

[2018-12-06 14:22] Felix-N commented on #167
Happens here now as well - using Chrome as main browser. It used to be fast, but not anymore.
Recreating the epichrome GMail App does not help either.

[2018-12-13 08:41] bramvandenbulcke commented on #167
I have the same issue. I'm also using Chrome as my main browser. I have different browsers on my system (Chrome Canary, Firefox, Vivaldi, Opera) for testing purposes.

[2018-12-17 01:36] garhbod commented on #169
Work around could be create another epichrome app and select browser in the steps. At the first run don't enable the epichrome extension and you have essentially created a chrome alias. Then make it your default browser.

[2018-12-18 08:03] matteopalama commented on #169
Hi

You mean “register as a browser” during the setup?. I tried that and now i have an Epichrome available as a default browser, but not my Chrome installation

[2018-12-18 17:38] whatknows commented on #167
Echoing the above with Chrome here.

[2018-12-19 20:23] heyfletch commented on #169
The problem is that the default browser keeps changing mysteriously, most likely when I switch to other epichrome apps, somehow the macOS switches that to the default browser. This whole issue has made it unbearable to use separate Epichrome apps, so I have given up until this gets sorted out.

[2018-12-20 14:54] ylluminate commented on #163
Strange guys, not sure what problem you're really seeing here. I'm not having these problems at all @purevertigo @heyfletch. Browser Fairy + Epichrome are working fantastically and opening URLs... I think you need to do some more digging into the logs and reiterate the reproducible behavior. I heard @dmarmor is pretty tied up right now with other things.

[2018-12-20 14:56] heyfletch commented on #163
I don't know what to tell you... I've described the reproducible behavior on like 3 issues. I've troubleshot this enough... something's wrong, but I gotta give up till the developer can take a look.

[2018-12-22 06:33] shoobee commented on #167
Experiencing the same issue as everyone else -- any workarounds so far? Thanks!

[2019-01-05 04:53] relluf commented on #173
Does anybody have any pointers to in which part of the code could reside a bug causing this issue?

[2019-01-09 01:10] ylluminate opened #178 "Epichrome Extension Bundled Separately"
I believe we should bundle the Epichrome extension separately:
https://stackoverflow.com/questions/28618545/chrome-extension-to-open-up-a-specific-url-in-a-different-browser

There's definitely a need...

[2019-01-09 15:34] Shepstar commented on #163
I have OS X Mojave 10.14.2 and Epichrome 2.2.4 and have the same Problem. Once I click on a link in Mail or any other link it opens up in the Epichrome App I created instead of Chrome.
Would be great to get some fix for this as I know have to copy the links and open then in Chrome.

I know its a lot to ask if Epichrome is a free app and the developer @dmarmor has to do other work to make a living,

[2019-01-09 15:43] bold-joe-ocampo commented on #163
I have found a workaround to address this issue. It seems the error deals with ordinality of Chrome browser/apps that are opened by the user. To make this issue go away:

1. close all your applications and open your default Chrome Browser first.
2. open all your Eprichrome apps.

All link-clicks within Epichrome apps should be redirected to the default Chrome Browser instance. FYI there is a sligh

[2019-01-10 23:21] fulltrucker commented on #174
macOS 10.11.6 El Capitan
epichrome 2.2.3
Choosy 1.2.2

Experiencing the same behavior as @talleux describes in the original post. Switched to Browser Fairy.

[2019-01-11 23:13] rgbink commented on #114
Still an issue. Applied @henderea 's fix. Fri, Jan 11, 2019. ¯\_(ツ)_/¯

[2019-01-15 22:50] mpf opened #179 "Google Chrome Helper consuming 100% CPU"
The single epichrome instance running on my machine creates a process called "Google Chrome Helper" that consistently consumes close to 100% CPU. (See the attached screenshot.)

Please let me know what additional debug information I might provide.

![screen shot 2019-01-15 at 2 47 50 pm](https://user-images.githubusercontent.com/109942/51215058-93019a80-18d4-11e9-9615-829057ca14f2.png)

[2019-01-15 23:12] mpf commented on #179
Never mind — this was a red herring: turns out that the Google Helper process was related to a Gmail Offline app that was running in the background. This went away once I figured out how to remove that app.

[2019-01-15 23:12] #179 closed

[2019-01-15 23:49] afsoltys commented on #167
Same issue, Chrome! Anyone figure this out?

[2019-01-17 16:06] whatknows commented on #167
Hi friends -- not a solution here, but I was just a bit curious (given msubel saw speedy opening via terminal) if this was really epichrome specific, or if other apps have some similar overhead that terminal just doesn't.

tl;dr -- as far as I can tell, this really is an epichrome only thing.

I had speedy link opening in:
Word (v16)
Mendeley (v1.19.3)
Mail
... and some random other apps. All spee

[2019-01-17 19:07] afsoltys commented on #167
Good insights @whatknows. I was also playing around with this and noticed if you disable the Epichrome helper completely, it's speedy, but of course results in the same behavior as "If a link doesn't match any rule, open it with" is set to "This app."

Seeing as we can prove links sent to the default browser are not delayed, and there is also no delay when opening inside the Epichrome app, it seem

[2019-01-18 10:13] thiloroe commented on #167
Same problem here. The delay only occurs when "Stop further handling for links sent to default browser" is checked though. However, without this checked, Epichrome first opens a new tab, regardless of any rules.

[2019-01-21 19:08] robszumski commented on #167
I am also seeing this issue after upgrading to Mojave. No combination of settings fixes it for me.

[2019-01-21 22:08] ylluminarious opened #180 "How to rename an Epichrome app?"
I would like to completely rename an Epichrome app. I could just rename the relevant folders, but it appears that I also need to edit files such as `Info.plist`. There are apparently many such files that may need to be edited to the new name, as revealed by `grep`. I do not want to leave any loose ends which could mess up my app. Is there any straightforward (or at least thorough) method to comple

[2019-01-28 19:32] onching commented on #173
oh. I also recreated the SSB app from scratch hoping that it would fix the issue. it seem to work fine after a few application open and closes but a few days later it happened again. maybe sleep/restore or something?

[2019-02-01 01:48] voltaireodactyl commented on #177
Just checking if there's been any update on this? The only working replacement I've found is Coherence, but it DOES work.

[2019-02-04 16:27] 75th commented on #177
Yeah, Coherence works in this regard, but isn't as good as Epichrome before this breakage. You can't have bookmarks, you can't make external links open in the main Chrome browser, etc. I also really hope we can get a fix for this, and that the Chrome security changes don't leave us stuck with this behavior forever.

[2019-02-05 18:52] sahi1l commented on #173
Issue #51 covered the same issue (with the icon), and they determined that it occurred when the browser downloaded a file. The issue was supposedly resolved, but I have been noticing the same problem recently and I have confirmed that downloading a file caused the icon to be replaced by the generic version.

[2019-02-12 12:34] KajKandler commented on #122
This still persists EpiChrome 2.2.3, OS Mojave latest, Chrome Version 71.0.3578.98 , It seems to me that it always takes the latest Apps icon. As a matter of fact it even changes the icon of an existing notification, when I switch to a different EpiChrome browser while it is displayed.

To reproduce, create an epichrome for GMail and send your self an email. Or create one for google calendar and c

[2019-02-16 22:29] afsoltys commented on #167
anyone come up with a fix for this yet?

[2019-02-16 22:54] andresrinivasan commented on #167
Don't judge me, but my fix was to purchase [Coherence Pro](https://www.bzgapps.com/coherencepro). It has its own issues (e.g. no extension to manage redirects) but it keeps me from weeping when I open links.

[2019-02-20 13:42] Penworks commented on #173
hi. Im just testing this out (10.10.5)
<img width="43" alt="screen shot 2019-02-20 at 14 42 08" src="https://user-images.githubusercontent.com/758626/53095667-b942d780-351d-11e9-9611-fa4abb00fabd.png">
and cannot get it to take custom icons - they appear as a generic rectangle with a pen and pencil crossed in the right corner (see screengrab). Other than that this seems great.

[2019-02-25 23:04] philc commented on #169
This issue is pretty crippling. I've been using epichrome for years but today had to stop using it. I've switched back to using multiple first-class browsers for work gmail, calendar, and personal gmail (chrome, firefox, chrome canary) which is more painful but sufficient.

[2019-02-26 00:44] ylluminate commented on #176
@jameschao I think this might be the issue: https://apple.stackexchange.com/questions/352454/system-slowness-how-to-disable-or-short-circuit-tccd-in-mojave-slows-app-su

[2019-02-27 01:07] dmarmor commented on #167
Hi all,

Very sorry fixing this has been so slow, I just have very little time to work on Epichrome these days. But I have been following this issue and finally had a chance to poke at it over the last couple days. The problem appears to be Apple's ever-tightening security rules. I've come up with a fix that works on my system (and seems to also solve a couple other, more minor problems). I'm atta

[2019-02-27 01:18] dmarmor commented on #169
I've just done a beta update to try to solve some of these default browser problems. I'd appreciate if people who are experiencing this problem could give it a try and let me know if it helps. You'll find the link below.

Note: I suspect you will still see the cosmetic problem that if Chrome is your default browser, the System Preferences pane will show a random running Epichrome app. This is pret

[2019-02-27 01:22] dmarmor commented on #163
Hi all. I've just done a beta update to try to solve some of these default browser problems. Mainly, I was trying to solve the terrible slow-opening problems described in issue #167, but I *think* the update I've just done should also help with this issue (as well as issue #169). I'm doing it as a beta as I don't have time to test it extensively myself. I'd appreciate if people who are experiencin

[2019-02-27 01:25] dmarmor commented on #173
Hi all, I've just done a beta update, mainly to address some even worse issues with routing links to the default browser (see issues #163, #167 & #169). But it appears on my system to solve this issue as well. I'd appreciate if folks experiencing this could try the beta and let me know if it helps. Thanks!

[epichrome-2.2.4b01.dmg.zip](https://github.com/dmarmor/epichrome/files/2908136/epichrome-2

[2019-02-27 01:37] dmarmor commented on #129
Could you upload or send a link to one (or more) non-working vector images? I'll take a look. No guarantees here--I'm relying on built-in Apple tools to do the icon processing, so I might not be able to easily convert all formats. But if I have some samples I can give it a shot. Thanks!

[2019-02-27 01:43] ylluminate commented on #176
@jameschao also note @dmarmor's new update today:
https://github.com/dmarmor/epichrome/issues/163#issuecomment-467684527

[2019-02-27 04:06] jameschao commented on #163
Thanks @dmarmor! Initial testing definitely seems like it fixed this issue! I'll keep an eye out for a few days more, but definitely seems to be good!

[2019-02-27 04:07] jameschao commented on #176
Thanks @ylluminate - I just tried it and so far it looks good!

[2019-02-27 04:08] jameschao commented on #163
@dmarmor - could you push up your branch so we can see how you fixed the problem?

[2019-02-27 04:09] ylluminate commented on #163
@dmarmor it does indeed seem faster, but I haven't had a chance to do a close study. I too would be interested to see what's been done here given the problems that Mojave has been having generally with some startup issues such as this.

I'm seeing perhaps some problems still with some apps opening links properly in Epichrome apps still; like it starts the Epichrome app, but then dies instead of op

[2019-02-27 04:20] jameschao commented on #163
@ylluminate - I'm seeing the default browser open. For me, Chrome is my default, and even when Chrome is closed, clicking on a link from an Epichrome app would now open Chrome. Previously, the page would open a bit randomly in one of the other Epichrome apps.

Be sure you close and reopen app the previously open Epichrome apps when testing the beta.

[2019-02-27 14:42] ylluminate commented on #163
I'm using Browser Fairy like @dmarmor for default and prior to Mojave didn't have these issues so I need to spend a little more time giving a completely reproducible scenario if possible about the opening issue.

[2019-02-27 14:45] ylluminarious commented on #163
@dmarmor I haven't noticed these bugs myself (although I don't use Safari much), but I do think Epichrome apps start faster now. Thanks for your hard work!

[2019-02-27 17:26] cmacminn commented on #167
At first glance, it appears to solve the problem on my end. Will let you
know if I encounter any problems over the next few days. Thanks!

Best, Chris

On Wed, Feb 27, 2019 at 1:07 AM dmarmor <notifications@github.com> wrote:

[2019-02-27 21:38] thiloroe commented on #167
This worked for me. Great! Thank you!

Thilo

[2019-03-01 11:33] purevertigo commented on #163
@dmarmor doesn't work for me. Apps I create open then crash.

[2019-03-01 16:38] dmarmor commented on #163
Hi @purevertigo, can you give me some more detail on this? Were your apps working under 2.2.3? Is it happening both with existing apps you updated to 2.2.4b01, and also through new apps you create with the new version? Can you let me know what the crashes look like? Thanks!

[2019-03-01 16:47] dmarmor commented on #163
Hi @jameschao & @ylluminate, I'm probably going to make a release of this version this weekend or Monday (unless this crash report turns out to be something bad), so will push the branch at that point. But in terms of what I did, I basically made 2 changes:

The very slow link-opening was very hard to track down, but I finally figured out that it had something to do with Apple's quarantine system.

[2019-03-01 16:54] jameschao commented on #163
@dmarmor - awesome! Thanks for sharing the details and your solution for the link opening problem is clever.

After a few days, things still look pretty good on both of my machines. I remember once when the link opened incorrectly in one of the Epichrome apps, but I haven't seen it since, so on my end I'd say it's looking great.

Thanks for the great work. I really appreciate Epichrome in helping

[2019-03-01 16:58] dmarmor commented on #163
Of course! I'm just glad it's (hopefully) working smoothly again, and sorry for the long delay getting that fixed.

[2019-03-02 04:34] purevertigo commented on #163
The apps were working under 2.2.3 - but had the browser issue.
The existing apps that get updated have no issue with crashing  - just the browser bug still.
New apps don't open at all. Just crash upon opening  - bouncing dock app that just vanishes.
thanks @dmarmor

[2019-03-03 21:34] ylluminate commented on #163
So yes @dmarmor it seems that everything is working better and it does seem to be generally opening the proper app now.  You've done a great job.

[2019-03-04 06:58] Shepstar commented on #163
Hey @dmarmor  I tested the Beta on OS 10.14.2 but still have the problem. If I open an Epichrome App I built first and then Chrome, all links open in that Epichrome App instead of Chrome.
So I always have to make sure I open Google Chrome first otherwise it opens all links in the Epichrome App.

[2019-03-05 23:50] garhbod commented on #169
For those wanting links to open in the base instance of chrome I found https://will-stone.github.io/browserosaurus/

[2019-03-08 12:00] gregschroeder commented on #163
yes, I have the same problem on 10.14.3 as @Shepstar with the 2.2.4b01 beta (and with the current release); must open Chrome first or the Epichrome app becomes the effective default for subsequent links clicked.

[2019-03-08 19:45] jameschao commented on #163
For me, I get mixed results. Most of the time, the links open Chrome but there are times when it reverts to the previously buggy behavior (and stays that way).

[2019-03-08 19:46] jameschao commented on #163
Not sure if this is related, but sometimes I also find the Epichrome app dock icons revert to Chrome as well. I'd have to quit and reopen the app and then they switch back to the custom app icon.

[2019-03-08 19:47] ylluminate commented on #163
I'm surprised, working great for me now in this regard @jameschao on multiple workstations. The first necessary restart was what threw me off, but after that it's great... I have waaaaay too many Epichrome instances. :P

[2019-03-08 20:21] whatknows commented on #167
I've been using for a bit now -- it seems to be working here too.
TYVM!!!!

[2019-03-09 00:02] dmarmor commented on #163
Hmm, OK, so it appears link routing with Chrome is working for some people all of the time, some people some of the time, and maybe some people none of the time...

As a first step, @purevertigo, @Shepstar & @gregschroeder, just to make sure the updates have happened properly, could you Get Info on any Epichrome apps that aren't working and ensure that the version is 2.2.4b01? And to be extra sure

[2019-03-09 00:03] dmarmor commented on #163
@purevertigo--

As for your crashing problem, once you've confirmed that your apps are in fact 2.2.4b01, would you try running one from the terminal like this:

[code]

And send me what it prints before crashing?

[2019-03-09 00:05] dmarmor commented on #169
Closing this issue--I believe this behavior is caused by the same problem as Issue #163.

[2019-03-09 00:05] #169 closed

[2019-03-09 06:34] purevertigo commented on #163
The first part confirmed is that version, the second part comes up with no such app exists.

[2019-03-09 07:38] gregschroeder commented on #163
from Finder Get Info:  2.2.4b01
from the terminal:
[code]

@Shepstar had the simple repro steps.  Previously, it seemed more random as I never took the time to figure out exactly the sequence, rather, I just noticed when it was wrong after the fact.  To reproduce, close all Chrome and Epichrome apps.  Open an Epichrome app first, then Chrome, and the Epichrome app becomes the default "Chrome".

I

[2019-03-11 23:45] dmarmor commented on #163
@purevertigo, can you send along the exact text you get back when you try to launch from the command line with the --debug flag?

It seems like maybe your update didn't work correctly. Have you tried creating a new app with Epichrome 2.2.4 to see if it will launch correctly?

[2019-03-12 00:10] dmarmor commented on #163
@gregschroeder & @Shepstar,

I'm unable to reproduce this behavior on macOS 10.14.3. @gregschroeder, have you noticed that this only happens when the first Epichrome app you opened has lost its icon and reverted to the Chrome icon? Does that happen reliably, and have you noticed when it happens and in response to any particular action you take in the app?

It seems like this is only happening for

[2019-03-12 00:14] dmarmor commented on #173
Have any users with this issue experienced improvement (or not) with 2.2.4b01? On my system, it seems to have solved the problem on Mojave 10.14.3. I'm planning to release 2.2.4 official tonight, and would love to know if this issue has been resolved for more than just me...

[2019-03-12 09:39] Shepstar commented on #163
Hey @dmarmor I'm not having any problems with loosing the icon, just it depends on which Chrome App I open this will be my default browser. So this is why I have to open Chrome  first and then the other Apps.
Let me know what I can do to help you on this.

[2019-03-12 09:44] gregschroeder commented on #163
I've noticed no correlation between "default browser hijacking" and "loss of identity/icon".  The former happens consistently if an Epichrome app is opened before Chrome.  The identity thing rarely happens, but I've seen it.

So far, Finicky largely mitigates the first problem.

[2019-03-12 16:08] dmarmor commented on #153
Closing this issue.

[2019-03-12 16:08] #153 closed

[2019-03-13 12:10] purevertigo commented on #163
Sorry for late reply. I have attached output.
[Terminal Saved Output.txt](https://github.com/dmarmor/epichrome/files/2961378/Terminal.Saved.Output.txt)

[2019-03-13 16:08] dmarmor commented on #132
Closing this issue. I believe it's solved by version 2.2.4. Happy to reopen if you're still experiencing this.

[2019-03-13 16:08] #132 closed

[2019-03-13 16:10] dmarmor commented on #173
Thanks for the update. Let's check in on this after the next Chrome update and see if it stays solved.

[2019-03-13 16:15] dmarmor commented on #163
Thanks for the reply, @purevertigo. So the good news is I think I see the problem. Is your installation of Google Chrome.app on a different volume from your Epichrome apps? Since 2.2.3 that likely won't work any more due to Chrome's security restrictions. If that's what's going on, could you try moving your apps to the same volume as Chrome and running again to see if that fixes the problem?

If w

[2019-03-13 16:35] dmarmor commented on #180
Hi @ylluminarious,

I don't exactly recommend the following method as it's kind of kludgy, but it should work, with the warning that it involves mucking around in the app bundle, so there's always a chance something will go wrong and render the app unusable. Definitely recommend backing up the bundle before trying it. With that caveat, here's how you'd change OldName.app to NewName.app:

1. Make s

[2019-03-13 16:35] #180 closed

[2019-03-13 16:39] dmarmor commented on #178
I'll add that to the to-do list. It'd be nontrivial, though, as the native messaging host would have to somehow be packaged and installed separately. Right now that's all built into the Epichrome app...

[2019-03-13 16:39] #178 closed

[2019-03-13 21:12] dmarmor commented on #144
Closing this issue. I've got this on the to-do list for the next version of the extension.

[2019-03-13 21:12] #144 closed

[2019-03-13 22:15] ylluminarious commented on #180
@dmarmor Thanks so much! Everything seemed to go without a hitch and my app has been renamed in both the dock and menubar.

I am curious about a few points, though. I noticed that you left `CFBundleIdentifier` and `SSBProfilePath` alone in `config.sh`. These variables still have the old app name in them. Is this on purpose? I'm also wondering whether I should rename my app's profile folder or just

[2019-03-14 08:20] purevertigo commented on #163
Confirmed that has fixed the crashing issue BUT links are still not redirected to chrome as default and open in a window of the epichrome app instead.

[2019-03-15 03:40] dmarmor commented on #180
There's no real reason to change the identifier or profile path. I didn't include it in the process above as the app will function just fine as it is. But if you do want your identifier and profile path to match the new app name, here's how you'd do that (again using OldName & NewName as examples):

0. **Please be extra cautious trying this, and back up both your app and your profile directory bef

[2019-03-15 03:41] dmarmor commented on #167
Closing this issue, as the update seems to have solved it. Will reopen if it crops up again.

[2019-03-15 03:41] #167 closed

[2019-03-15 03:43] dmarmor commented on #163
Hi @purevertigo. I'm glad we've made some progress. Can you give me more info on this behavior? Is this the situation people have reported where links will open in Chrome if you fully quit all Epichrome apps, start Chrome, then start your Epichrome app? Or do links always get routed to one particular app? The more detail you can give me the easier it will be to diagnose what's going on. Thanks!

[2019-03-15 03:45] dmarmor commented on #170
So this dialog box is part of Mojave's new security settings, and I believe it comes up either because when Epichrome apps launch they need to update themselves (to link to Chrome, update their config and such). Or it might have to do with their use of AppleScript to display dialogue boxes.

In any case, it should *not* ask for this permission on every launch. Once you've given permission, it shou

[2019-03-15 03:46] dmarmor commented on #164
Closing this issue.

[2019-03-15 03:46] #164 closed

[2019-03-16 07:10] purevertigo commented on #163
No change in default browser no matter which order I use. Links always open in a new window for the current epichrome app.

[2019-03-16 19:09] dmarmor commented on #163
@purevertigo, it sounds like maybe the extension simply isn't routing the links out of your apps. Could you send a screenshot of the Epichrome Helper options page for one of your apps so I can see how the rules are set up? Thanks!

[2019-03-16 19:10] dmarmor commented on #174
Has anybody tried Choosy with Epichrome 2.2.4 to see if it's improved at all?

[2019-03-16 19:15] dmarmor commented on #172
Hey @jameschao, there are several reasons I want to go the extension direction, mostly to do with ease of use and interface. Right now Epichrome is a series of AppleScript dialogue boxes, which is a pretty terrible UI. I figure since anybody using Epichrome must have Chrome installed, why not leverage that UI? It also would allow a bunch of other cool enhancements. If you invoked the extension, it

[2019-03-16 19:17] dmarmor commented on #171
Hi @swealpha, are you still having this problem with Epichrome 2.2.4? My first question would be to confirm that you do in fact have Google Chrome installed on your system. Assuming that's the case, do you have Spotlight enabled and indexing wherever Chrome is installed?

When it fails to find Chrome, does Epichrome present a file chooser and ask you to find it? It's supposed to do that...

[2019-03-16 19:19] dmarmor commented on #168
Hmm, I've never seen this behavior, but it does seem like something got corrupted, or possibly there was a permission problem in one of your apps. Is anybody still experiencing this with Epichrome 2.2.4?

[2019-03-16 19:20] dmarmor commented on #166
@pnewell, those URL patterns should match. Are you certain that those links were set to open in the same tab when clicked? For diagnosis purposes, you could try changing "Same tab" to "Either" and see if it helps. Let me know!

[2019-03-16 19:22] talleux commented on #174
Hello,

since i updated from El Capitan to Mojave, Choosy works again!
Epichrome 2.2.4
Choosy 1.3

I'm not experiencing any problems now.

On El Capitan Choosy wasn't woking at all anymore

[2019-03-16 19:26] boywithk9 commented on #168
All good for me with 2.2.4

[2019-03-16 19:26] #168 closed

[2019-03-16 22:01] talleux commented on #128
Well, this issue actually contains two issues, in my opinion:
1) Notifications show Chrome icon, not app's custom icons --> this looks duplicate with #122
2) Clicking on notification often brings wrong app to front first (for me it's different: clicking on it will open the link in ALL currently open Epichrome instances AND GoogleChrome (if opened), which makes notification unusable)

[2019-03-16 22:30] talleux commented on #173
I still have the problem, that the icon changes to the generic one when downloading a file, *on some of my instances* only. I saw in some other issue that instances created with older versions of Epichrome could be affected, but i can't confirm this: for example my GoogleDrive-Instance is one of my very first one and maybe 2 years old and it doesn't have that problem whereas some other newer insta

[2019-03-18 06:16] purevertigo commented on #163
Great! attached.
![Screen Shot 2019-03-18 at 17 13 32](https://user-images.githubusercontent.com/6506461/54510471-81ef0b80-49a1-11e9-85b3-1a0d938db8b6.jpg)

[2019-03-18 22:03] mhuusko5 opened #181 "Epichrome apps don't inherit system/privacy permissions (like microphone) from Chrome"
I'm trying to make an Epichrome app of Google Voice on Mojave. However on Mojave, Chrome has to request permission for microphone access. Epichrome apps neither inherit this permission, nor do they trigger the request for their own bundle/id.

[2019-03-19 22:49] ylluminate opened #182 "Significant hangs on some Epichrome apps"
I'm having a very peculiar issue that's driving me quite crazy. I have a few Epichrome apps that seem to want to hang for long periods of time (15-30 minutes) sometimes. The bad thing is that I can't really reproduce this in a reliable fashion and I can't seem to get Chrome proper to do it. I'm being lead to believe that it's something specific to Epichrome instances, but I can't really isolate th

[2019-03-19 23:06] dmarmor commented on #163
@purevertigo, it looks like you haven't set up any rules to redirect links to the default browser. A good place to start would be to change the drop-down for "If a link doesn't match any rule, open it with:" to "Default browser." You can then use the custom rules to further refine which links will be sent to the default browser and which will stay in the app. Don't forget to hit the Save button at

[2019-03-19 23:07] dmarmor commented on #181
Hmm. I'll take a look at this and see if I can figure out a workaround. Thanks for the report!

[2019-03-19 23:10] dmarmor commented on #182
Hey @ylluminate, I just took a quick look at the sample, but couldn't immediately see anything useful in it. Best I could say right now is keep looking for any patterns. If you can figure out how to reproduce it even semi-reliably then I can set up the same situation on my system and try to get to the bottom of it.

For background, what version of macOS are you running, and do the apps that hang h

[2019-03-19 23:11] dmarmor commented on #177
Hey @zzamboni (and others), can you tell me if the 2.2.4 update helped with this at all? I'm hoping that codesigning the apps might've made a difference. If it's still broken under 2.2.4, let me know and I'll see if I can reproduce it on my system. Thanks!

[2019-03-19 23:19] dmarmor commented on #175
Hey, @ylluminarious, the problem with this is that Epichrome apps pass the --user-data-dir themselves to point at their profile directories in ~/Library/Application Support/Epichrome/Apps.

Based on my quick read of the Stackoverflow answer, I would try removing the --user-data-dir argument from your edit of config.sh (but leave --disable-web-security). This will point your app at its existing use

[2019-03-19 23:20] dmarmor commented on #176
Hey @ylluminate, has 2.2.4 fixed this problem for you?

[2019-03-19 23:20] #172 closed

[2019-03-19 23:29] ylluminate commented on #182
Yeah, that's my problem. I can't seem to isolate anything and it's MOSTLY happening with Epichrome apps. 10.14.4 build 18E220a.

I'm wondering if it's due to how Chrome instantiates so many processes.  Hrm.

Otherwise I'm having a devil of a time tracking down any commonalities. Just keeps happening and happening and sometimes everything is fine. Not sure what I can look for that would be blocking

[2019-03-19 23:32] ylluminate commented on #176
@dmarmor this does seem to have been resolved now from what I'm seeing!

[2019-03-19 23:32] #176 closed

[2019-03-19 23:53] dmarmor commented on #128
Closing this issue and moving the discussion to #122...

[2019-03-19 23:53] #128 closed

[2019-03-19 23:57] dmarmor commented on #122
Hey all, adding in @dsemaya and @talleux who commented in #128 that this notification problem also causes the wrong app to be brought forward when a notification is clicked.

Just a heads-up, this may not be a solvable problem. I am not able to give the Chrome instances run by Epichrome apps unique bundle IDs, because any changes to the codesigned resources in Chrome causes it to not run properly.

[2019-03-20 14:39] 75th commented on #177
No improvement here. Keyboard Maestro macro groups limited to either Google Chrome or my Epichrome app do not work in the Epichrome app; only global ones do. Macro groups limited to a Coherence app *do* work correctly.

I have a global macro that runs an AppleScript script that analyzes all windows of the frontmost application. In a Coherence app, it reports the app name as "Gmail" (or whatever th

[2019-03-20 14:44] 75th commented on #177
Looking at the other similar thread to this one, someone said upgrading from El Capitan to Mojave fixed their issues; I myself am on High Sierra.

[2019-03-20 19:29] Felix-N commented on #163
@dmarmor thanks a lot for epichrome and the fix to the speed bump.

as a side note: can I donate somewhere to the development of epichrome?

[2019-03-20 20:20] GrogHills commented on #163
Agreed. I would love to donate.

On Wed, Mar 20, 2019 at 12:29 PM Felix-N <notifications@github.com> wrote:

--
- Gregory

Gregory Morse
gmorse@morseinc.com

[2019-03-21 00:07] dmarmor commented on #174
Excellent! Closing the issue for now...

[2019-03-21 00:07] #174 closed

[2019-03-21 07:25] zzamboni commented on #177
@dmarmor Unfortunately I still see the same behavior, even with apps that were newly created using Epichrome 2.2.4. In case it make any difference, I am on Mojave (macOS 10.14.1).

I'd be happy to provide additional info or testing if it would help.

[2019-03-21 08:15] talleux commented on #177
I case you mean my comment here: https://github.com/dmarmor/epichrome/issues/174#issuecomment-473576981
The update from El Capitan to Mojave actually fixed my Choosy not working. I'm not aware of issues on Epichrome that were fixed by the update to Mojave.

[2019-03-21 08:20] talleux commented on #163
I'd like to donate as well, Epichrome changes my daily workflow in such an efficient way (even much more combined with choosy) that i can't imagine working without it.
Also i love it helping me protecting my privacy data using an instance per web app saving privacy stuff.

[2019-03-21 16:11] dmarmor commented on #131
Hey @Pofadda & @tdhopper, has this been fixed for you in more recent releases of Epichrome?

[2019-03-21 19:58] tdhopper commented on #131
I have tried

[2019-03-23 02:12] purevertigo commented on #163
Wow. I can't believe that fixed it. That's amazing. thanks, @dmarmor for your great work!

[2019-03-24 23:57] ylluminate commented on #182
Hrm, keep having these hangs. I'm wondering if there's a way to grok these samples to in order to get to the bottom of where the hang's happening in the process(es):
https://cl.ly/5a850e237ddc/2019-03-24%20(19-56)%20-%20epichrome%20app

This hang happened when I hit cmd-q to quit the app!  O.o

[2019-03-25 22:02] heyfletch commented on #169
Thanks for the fix. The latest update has fixed this issue for me.

[2019-03-27 20:36] ylluminate commented on #182
One of the craziest things that I've seen so far here with this in terms of reproducibility is that the only guarantee I have seems to be that when I make a new Epichrome app or sign into one for the first time I can count on a hang about 50% or more of the time. I just made a new Epichrome app and upon attempting to simply paste a username from a site into a field, the entire thing has now hung a

[2019-03-27 21:47] ylluminate commented on #182
One thing I may have found is that pasting has been, for some reason, consistently hanging a newly create Epichrome app for me when pasting in a password from 1Password 7.app and using Pastebot.

[2019-04-01 17:09] januz commented on #177
I can also confirm that version 2.2.4 does not fix the issue (I'm on High Sierra).

[2019-04-03 16:44] darrenaalfonso commented on #181
Encountering the same issue.  Mic/webcam are inaccessible from within Epichrome apps.  My specific use case is joining conference calls/online meetings.

[2019-04-04 22:48] ylluminate commented on #180
I guess the followup to this is: how do you also change the icon for the app properly?  Simply setting in Finder seems to only be active in Finder and when you start the app it overwrites it again.

[2019-04-06 23:10] ylluminarious commented on #180
@ylluminate [I use these instructions](https://github.com/dmarmor/epichrome/issues/47#issuecomment-173814881) to change app icons. It's not exactly "proper" and it's not ideal, but it works. It's a good idea to backup the app bundle before following that procedure, though.

[2019-04-08 20:24] stevegray opened #183 "multiple OSX profiles"
I have 1 laptop with a work profile and a personal profile.  My Epichrome apps are in /Applications.  They only work *correctly* when I open them from the OSX profile I used to create them.  Opening from the other profile doesn't load the single window app.

Is it a preferences thing...?

[2019-04-11 15:36] ylluminate commented on #182
I believe I found the issue. Somehow it appears that Chrome was set to be my default Mail app. I did not set this (to my knowledge) and so subsequently it appears that various invocations on the sharing extension / subsystem of macOS was getting really discombobulated with Chrome and probably hung for such long times since I have "many" Chrome apps via Epichrome. It has been a really strange issue

[2019-04-17 16:59] bfenster opened #184 "Donations/Support?"
Exact duplicate of #88, except we've now traveled into the distant future of 2019.

I respect being uneasy about taking donations from people who may then be frustrated at the slow release schedule. Counterargument: _any_ Epichrome is better than no Epichrome.

When Mojave broke everything I was plenty frustrated, but not so much at the lack of an Epichrome patch as at the complete lack of any via

[2019-04-18 09:41] talleux commented on #184
I completely agree. Epichrome dramatically changed my daily workflow in such a very effective and nice way that i'd like to donate without creating a pressure for future development but simply as thank for past development...

[2019-04-24 22:47] ylluminate commented on #182
I have found another odd issue, that I thought I should ask you about @dmarmor.  Does Chrome itself use `lsof` for things?  For example, I found it going nuts here this:
![lsof](https://cl.ly/cdc62d4f7025/Image%202019-04-24%20at%206.37.00%20PM.png)

And then I noticed that I was down to under 100mb free RAM.  I then quit a few Epichrome apps which freed up about 14gb of RAM. Suddenly this `lsof` p

[2019-04-25 16:00] patrickoshaughnessey commented on #181
Also seeing same. Just updated to Mojave yesterday, and even after re-creating a Google Hangout based app, the camera permission is not carried over, nor prompted for.

[2019-04-30 20:46] ylluminate commented on #182
So @dmarmor I'm still quite losing my mind here. Things were better, but now they're a little... different maybe?  I'm still getting serious hangs and they are not quite the same, but I'm getting rather upset.  The target of this upsettedness is Google and Chromium... It seems that you can't reach a human being that gives a flipping flying crap atm to help isolate and debug the issue(s) further.

[2019-04-30 21:43] ylluminate opened #185 "Kill all Chrome instances?"
Hey @dmarmor do you have a quick way to kill all Epichrome Chrome instances as well as Google Chrome proper in one fell shell command?  I'm having a devil of a time here and need a quick way to just nuke all Chrome processes fast sometimes...

[2019-04-30 21:46] ylluminate commented on #185
Thinking about this further, I guess it would be useful further to print out a list of all Epichrome / Chrome instances running currently and then throw their pids into `kill -9`.  That way one would have a list of all instances before murdering them all.

[2019-05-05 16:08] gregschroeder commented on #173
+1

I can't figure out the cause, but it happens a lot to me. I lose the icon, and often also the app name in the menu bar.

I end up keeping a good copy of each SSB .app folder elsewhere, and when this happens, I restore (clobber) the active one with the backup copy and it works fine again.  (just the .app folder, nothing from Application Support or other preference folders)

[2019-05-08 15:42] gregschroeder commented on #173
I haven't had a chance to pursue this at all, so it may be a red herring, but I'm wondering if this has something to do with using Chrome Sync.   The reason I mention this is that I created a few SSBs via Epichrome that all logged in to the same Google account in order to sync Chrome settings.  I noticed that when one of those loses its appname and icon, they all seem to.

[2019-05-08 16:32] onching commented on #173
I have the same set up where 4 SSB use the same google account to sync but for me they don’t lose the icon at the same time. Do you start all the SSBs at the same time? I don’t. Also lately it seems like the SSB that is used for gmail loses its icon a lot sooner or more frequent that the others. On 2.2.4 and Mojave

[2019-05-19 12:46] heyfletch commented on #173
+1 I have all the issues and circumstances described in this thread. Only thing to add: this issue (icon and app name disappearing) occurs on my Macbook, but not my iMac.

[2019-05-22 13:52] Dazzel commented on #163
Since the latest update the behaviour has changed for me. Before it was like this:
* Being in an Epichrome Browser window I clicked a link and it would open in the Epichrome Browser (either in an new tab or in the same window)
* Clicking on an link in an external application the link would automatically open in by normal chrome window (default browser)
* Being in the default browser window and cli

[2019-06-06 21:57] aponsin commented on #162
+1 having this issue too. FYI I am a new user of epichrome. Did this use to work properly ? Meaning notification from the right epichrome apps would bring up the right app ? (and not the default browser for instance ?)

[2019-06-06 22:00] JimmySamurai commented on #162
Still an issue for me. Considering uninstalling as I need the notifications, but don't need the other windows opening.

[2019-06-07 21:46] ylluminate opened #186 "MS Edge released today..."
@dmarmor with the release of Edge for macOS today from MS, I'm curious, would you be interested in a fork that takes Epichrome functionality over to it?

[2019-06-09 01:00] ylluminate opened #187 "Rename "Google Chrome Helper" processes to "Epichrome Helper""
@dmarmor I've been having some trouble with having so many "Google Chrome Helper" instances. Apple is telling me that Chrome is the culprit for system hangs and various trouble I've been having due to how Chrome works with having so many processes, etc.  I've been needing to kill it all at once perhaps once or twice a day, but there's no easy way to do it.

From what I'm seeing here it would be a

[2019-06-13 07:14] talleux commented on #183
I don't know if it's possible: While your Epichrome Apps are in /Applications all the preferences and data of your Epichrome Apps are under /Users/<USERNAME>/Library/Application Support/Epichrome/Apps/<YOUR EPICHROME APP> so when you call them with another Mac profile than the one with which you created them then won't be able to access their preference and data files.

Not sure if there is a tric

[2019-06-13 07:18] talleux commented on #173
I don't use Google Sync / i don't login in any of my SSB so for me it hasn't to do with this.

[2019-06-13 07:33] talleux commented on #162
+1 having this issue with Epichrome 23.2.4, Mac Mojave 10.14.5 (18F132) and Chrome 74.0.3729.131

[2019-06-13 13:35] stevegray commented on #183
Thanks for the response and your efforts.  I just duplicated them in ~/Applications and moved on.  I use Epichrome extensively every day.  Please keep up the project!!

[2019-06-17 21:19] ylluminate commented on #180
So @ylluminarious I see something here that we should issue a PR on.  I thought I'd mention it in this ticket since it has something to do with a point above, but it is ultimately a different issue.

While @dmarmor does indeed set the `CFBundleIdentifier` within the `SSB.app/Contents/Resources/Scripts/config.sh`, it is NOT set within the necessary `SSB.app/Contents/Resources/ChromeEngine/SSB.app/C

[2019-06-18 12:32] octplane commented on #135
Hello @dmarmor, I suppose this is still the case, and explains why the bundle Id of the running epichrome windows is `com.google.Chrome`, right?

[2019-06-20 20:26] bolaurent commented on #125
I am experiencing this problem.

I am developing Lightning Web Components for a Salesforce.com application. When I click on my component, I get:

`Uncaught TypeError: Cannot read property '1' of null
    at HTMLAnchorElement.ssbContent.handleClick (content.js:5)`

This is with

- Google Chrome Version 74.0.3729.169 (Official Build) (64-bit)
- OSX 10.14.5 (18F132)
- Epichrome 2.2.4

The error does

[2019-07-02 07:36] ccstone commented on #177
Hey Folks,

It appears that Epichrome 2.2.4 apps are properly seen by Keyboard Maestro.

(2019/07/02 -- Keyboard Maestro 8.2.4 on macOS 10.12.6)

There's a unique bundle-id like "org.epichrome.app.YouTube", and KM appears to see it alright.

(Although I've only tested with 1 Epichrome app running.)

However – AppleScript support is quite broken still (on macOS 10.12.6 using the latest Chrome).

[c

[2019-07-03 20:44] bradbatt commented on #177
I agree with Christopher … this is a major breaking change.

When you look at the Info.plist for an epichrome app it shows correctly. For example, I have an epichrome for ZenDesk and the info.plist shows the following…

	<key>CFBundleIdentifier</key>
	<string>org.epichrome.app.ZenDesk</string>

If you run the mdls command (mdls ZenDesk.app | grep bundle) it also shows the correct info.

However, w

[2019-07-03 22:13] bradbatt commented on #177
I use Keyboard Maestro to show and hide SSBs quickly and this bug breaks that functionality completely. Here's a workaround I came up with today that might be useful to anyone else running into the same problems.

I just put this in a "ssb-showhide.sh" script and run it within KM using the name of the SSB app as the parameter (i.e. "~/scripts/ssb-showhide.sh ZenDesk")

It's not as straight-forward

[2019-08-09 20:58] alatteri commented on #181
For me, I am getting the prompt and allowing, but still not camera/mic access for WebRTC apps.

[2019-08-09 21:06] alatteri commented on #181
I see what is happening here.  Epichrome apps will prompt for Camera/Mic access, but won't instigate MacOS prompt for permission, so they are still invisible to browser.  This does work properly with CoherencePro thought.

[2019-08-14 07:44] talleux commented on #173
Hello @dmarmor are you still waiting for infos? How could i help with more infos?

[2019-08-14 08:58] talleux opened #188 "Error on path to SSB by browser registration? Wrong path when opened? Choosy bug?"
**Note: I'm not sure how to name this issue as i'm not sure to understand the origin of the following problem. So if the title of this issue needs to be changed, i'm happy for some suggestion.**

I use Choosy to open links in the appropriate SSB(s) and the combination of Choosy and Epichrome ist a dream of productivity for me ;-)
When i click on a link an choose my SSB in Choosy **WHILE** the SSB

[2019-08-22 17:46] matthewfallshaw commented on #177
I'm seeing almost the same as everyone else, but both Applescript `name` and `bundle identifier` show as Chrome, and only `displayed name` shows as the name of the Epichrome app.
If I launch (for example) my Asana Epichrome app when it's closed (or any other Epichrome app; via Quicksilver.app or via double-clicking in Finder) it opens. If I launch it while it's open (which should focus it, and use

[2019-08-22 18:41] zzamboni commented on #177
@matthewfallshaw I see the same behavior with my SSBs triggered  from Hammerspoon (thanks for  the nice comments! Glad you've found my stuff useful 😄) - I hadn't noticed the "ghost icons" because I have the dock  hidden most of the time, but I have noticed I often need to quit and restart (or just quit and let them get started automatically by Hammerspoon) the SSB to have links open in them.

[2019-08-27 17:22] neeerd commented on #181
Same problem here. Please fix it!

[2019-09-19 18:34] dmarmor commented on #141
This has to do entirely with the resolution of the image you use to create the icon. If you want icons that will look completely sharp in all contexts in HiDPI, the original image should be at least 1024x1024. I've found that for practical purposes 512x512 images end up looking fine in most contexts (i.e. the dock).

[2019-09-19 18:34] #141 closed

[2019-09-19 18:42] dmarmor commented on #133
I'll look into this. The behavior I see on my system is a little different. When I launch an already-open app, nothing at all happens. It appears to launch and then immediately quit, leaving the running version unchanged but also not bringing to the front.

In my experience, the expected behavior with other apps is that launching it when it's open would simple bring it to the front. Is that what y

[2019-09-19 18:50] dmarmor commented on #140
@webbower & @demmer, this seems to me like a different problem from what @thebai described. I've been (slowly) working on a pretty major rewrite of the extension that I hope might address this problem. I'm hoping to be putting it out as a beta soon and will let you know when it's available to try.

[2019-09-19 19:02] dmarmor commented on #146
The window style is hardwired when you create an Epichrome app. Eventually I want it to be possible to edit an existing app to change window style, URL and everything else, but right now there's not an easy way to do this. If you don't want to recreate the app (you can find ways to do this in the Readme) then you'd  need to edit the app's config.sh script, which is in:

[code]
First, make sure the

[2019-09-19 19:02] #146 closed

[2019-09-19 19:05] dmarmor commented on #139
Hi @samlimster. If you just want to copy the apps themselves and don't mind starting fresh in terms of settings and extension, then it's as simple as making sure the apps are not running and then copying them over. It might make life simpler to zip them up first and then unzip them at the destination.

If you want to copy your settings over, that's a stickier problem, and @ylluminarious has pointe

[2019-09-19 19:05] #139 closed

[2019-09-19 22:57] dmarmor commented on #150
Hi @ey51, sorry for the slow reply, and I'm very glad you're getting use out of Epichrome.

If I understand what you're asking, then I'm not sure I can solve it, because I don't know of a way to direct Chrome to switch personas via link. All that the Epichrome extension is really capable of is directing links either to its host instance of Chrome or to the default system browser. It doesn't have a

[2019-09-19 23:00] dmarmor commented on #151
Hi @kotekhutsishvili, I'm not sure I understand your question fully. Are you trying to have Epichrome apps share a profile with your main Chrome profile? That is not possible, as Epichrome apps are hardwired to have their own profiles.

However, in the Chrome settings you can set it up to sync any of your settings between different instances. I use this myself so that when I create a new Epichrome

[2019-09-19 23:01] dmarmor commented on #152
Thanks @alvint! Glad this solved the problem. Closing this issue.

[2019-09-19 23:01] #152 closed

[2019-09-19 23:04] dmarmor commented on #154
Hi @LETRA, can you elaborate on what exactly you want to do? Epichrome apps are just ordinary Chrome instances, so the media keys should work just as they do in Chrome (i.e. for starting/pausing playback on a web page). If you're trying to customize them in some way, that's beyond the scope of what Epichrome (or Chrome) can do, and you'd need to try something like Keyboard Maestro.

[2019-09-19 23:06] dmarmor commented on #148
Hi @Zettt, are you still having trouble with 1Password 7? I finally upgraded to 7 myself recently and it appears to be working fine with my Epichrome apps. If it's working for you too, I'll close this issue...

[2019-09-19 23:08] dmarmor commented on #157
Hi @ylluminate, has this problem persisted for you? I've never used TotalFinder, so don't really have a way to test that scenario. Hoping that the update I did for Mojave might've fixed this?

[2019-09-19 23:12] dmarmor commented on #160
Hi @fatmcgav, I've never used HyperDock, so can't comment on that specifically, but I suspect it's somehow getting confused by the fact that the Epichrome app is basically just a launcher for a wrapped instance of Chrome. In some sense, the Epichrome app itself *doesn't* have any windows, only the underlying Chrome instance. I still would've thought that would be what was appearing in the dock and

[2019-09-19 23:12] #160 closed

[2019-09-19 23:15] dmarmor commented on #129
Closing this issue for now. If you still want me to take a look at vector images, please send a sample and I'll reopen and take a look.

[2019-09-19 23:15] #129 closed

[2019-09-19 23:19] dmarmor commented on #165
Hi @kranix0. Sorry for the very slow reply on this. I can't think what would be causing RescueTime to fail to track sites in an Epichrome app, as they are nothing more than instances of Chrome. I wonder if the desktop app is somehow superseding what the extension is doing, since it doesn't recognize the Epichrome app as a browser? Is it possible to tell the desktop app to ignore certain apps?

Ano

[2019-09-19 23:25] dmarmor commented on #136
Hi all. Sorry for the very slow reply on this. I'll take a look and see if I can recreate this behavior. It may be an extension bug that I can fix that way. I've been (slowly) working on a rewrite of the extension and will be releasing a beta version at some point. When that happens, I'll let you know how to install it and hopefully help knock this bug out.

[2019-09-19 23:26] dmarmor commented on #149
Thanks @andresrinivasan. Yeah, Browser Fairy is the chooser I use and have found it to work pretty well. I'll close this issue for now, but @camner if you are still having trouble let us know on this thread and I'll reopen.

[2019-09-19 23:26] #149 closed

[2019-09-19 23:28] dmarmor commented on #134
Thanks @ssssamstrup & @jameschao. I agree with what you both said here. Closing this issue for now, but @thomasthechan if you have more info about what you're trying to do and it's something that's possible within Epichrome, I'll take a look.

[2019-09-19 23:28] #134 closed

[2019-09-19 23:34] dmarmor commented on #17
Hi @heyfletch, did you ever resolve this? There's not really anything more an Epichrome app can do than register itself as a browser. That should allow it to show up in any list of browsers. Does your Dev Browser show up if you go to System Preferences > General and click the Default web browser drop-down menu?

[2019-09-19 23:42] heyfletch commented on #17
I'm not sure since I don't use that example any more (CodeKit). I don't recall any issues recently.

[2019-09-19 23:43] dmarmor commented on #145
So this isn't a bug so much as just the way Chrome behaves on Mac. If you close all the windows of an instance of Chrome, the underlying program is still running, so attempting to relaunch it will just bring it to the front (and in this case open a blank window, which is the default Chrome behavior).

That said, enough people are unhappy with this behavior that I have it on the agenda to add some

[2019-09-19 23:44] dmarmor commented on #170
Closing this issue. If anyone is having trouble with these permission windows opening repeatedly, please let me know and I'll reopen.

[2019-09-19 23:44] #170 closed

[2019-09-19 23:45] dmarmor commented on #171
Closing this issue for now. If you're still having trouble with this, please let me know and I can reopen.

[2019-09-19 23:45] #171 closed

[2019-09-19 23:46] dmarmor commented on #166
Closing this issue for now. @pnewell, if you're still having trouble, please let me know and I can reopen.

[2019-09-19 23:46] #166 closed

[2019-09-19 23:51] LETRA commented on #154
I'm sorry, but more than a year ago from that message. I no longer use epichrome or Subsonic.

[2019-09-19 23:54] dmarmor commented on #17
OK, thanks for the update. If you find the problem again, post here and I'll reopen and look into it.

[2019-09-19 23:54] dmarmor commented on #154
OK, thanks for the update. Closing this issue.

[2019-09-19 23:54] #154 closed

[2019-09-19 23:58] kranix0 commented on #165
Thanks for the reply. I've moved away from Mac so I'm no longer using Epichrome. I suppose you can close this issue, unless there are other people who want to see it fixed.

[2019-09-20 00:08] dmarmor commented on #165
Got it, thanks for the update. I'll close for now.

[2019-09-20 00:08] #165 closed

[2019-09-20 00:38] dmarmor commented on #175
Hi @ylluminarious, closing this issue for now, hoping my suggestion helped. If not and you're still looking for a solution, please let me know and I'll reopen.

[2019-09-20 00:38] #175 closed

[2019-09-20 19:37] dmarmor commented on #131
Closing this for now. @Pofadda & @tdhopper, if you're still having this problem with the current release of Epichrome, please let me know and I'll reopen.

[2019-09-20 19:37] #131 closed

[2019-09-20 19:45] dmarmor commented on #182
Hi @ylluminate, so sorry for the very slow reply. Work and life have still been keeping me entirely away from Epichrome lately.

Regarding the lsof problem: I suspect that must be a result of running an older version of Epichrome. The evilness of lsof was brought up in issue #155 and I removed it from Epichrome in last September's release. So if you're still seeing it, something must still be runn

[2019-09-20 20:39] ylluminate commented on #182
Hey @dmarmor I'm sorry, I should have updated this ticket.  I found out from the developer of App Tamer that that is the source of the `lsof` trouble.  He uses it and cannot figure out an alternative to it that would accomplish his goal.  I tried to help him to research options a little, but ran into a dead end as well.

I am, though, still going insane with hangs.  I can only figure it's Google's

[2019-09-20 22:48] dmarmor commented on #182
Yeah, the resource-management of browsers seems to be pretty bad across the board, and with the current architecture there's of course no way for Epichrome to have a shared library since all that ends up running are instances of Chrome.

OK to close this issue given that the problem appears to be Chrome's resource hogginess?

[2019-09-20 22:52] #182 closed

[2019-09-20 22:54] ylluminate commented on #182
Yeah, I've gone ahead and closed it.  By the way, do you know of any way to reach Google Chrome devs about hanging issues?  Sometimes when I have these hanging issues (even with 60GB of free RAM), Epichrome instances seem to be the primary apps that are hung.  I'd like to figure out how to troubleshoot this and find out why, where, how, etc. these things are happening and it seems that Chrome devs

[2019-09-20 23:31] dmarmor commented on #182
Unfortunately, I haven't had any luck reaching anyone at Chrome that I'm confident is actually responsive to any feedback. Google in general feels very insulated from user feedback (e.g. I've been begging them for years to get colored stars working in the mobile Gmail app, with no response whatsoever).

If you do figure anything out or find any evidence that the problem is Epichrome-related in a w

[2019-09-20 23:38] dmarmor commented on #185
I threw together a little script to try to handle this for you: **[killepichrome](https://www.dropbox.com/s/zu77dtxexnhp4ei/killepichrome?dl=0)**. It's pretty rough, so not terribly user-friendly, but if you put the attached file in your path and chmod it executable, it should help. The usage is like this:

[code]

If you don't pass any app names, it will kill _all_ running Epichrome apps (outputt

[2019-09-20 23:38] #185 closed

[2019-09-20 23:41] ylluminate commented on #182
Thanks. Yeah, I don't know if there's anything that can be done for sure.  I wrote a script to kill all Chrome (helper) instances and parents in order to do a nuclear reset when Chrome starts to go sideways on me.  That's the only thing I've found so far that keeps my system running when I have a few to several instances of Epichrome apps going and things start to get wonky.

FYI, you might want t

[2019-09-20 23:43] ylluminate commented on #185
Wow, nice.  Better than the nuclear script I threw together - but perhaps they can be used together.  I'll have to go through yours more carefully and put some makeup and a wig on mine to not let it be so ugly so you can take a peek at it (and hopefully not scream too loudly from the jump-scare).

[2019-09-20 23:45] dmarmor commented on #182
Oops! Check issue #185--I just also wrote a killepichrome script! Oh well, whichever one works better for you I guess.

Thanks for the forum link. I'll add my voice.

[2019-09-20 23:46] dmarmor commented on #186
Closing this (discussed in issue #182).

[2019-09-20 23:46] #186 closed

[2019-09-20 23:48] dmarmor commented on #187
Closing this issue, I think we have the best solution we can with either your script or the one in issue #185.

[2019-09-20 23:48] #187 closed

[2019-09-20 23:50] dmarmor commented on #162
Closing this issue and moving discussion to issue #122. If this is solvable at all (which I kind of doubt given how Epichrome works), it'll be the same fix as that issue.

[2019-09-20 23:50] #162 closed

[2019-09-20 23:50] ylluminate commented on #187
Perhaps so.  Having the unique names would be helpful though in determining troubled Epichrome instances and perhaps even what might be causing more specific problems in a certain site.  But we can live with it.  I was hoping there was a way to do this as per Electron to make things "cleaner."

[2019-09-20 23:52] dmarmor commented on #125
Hi all, sorry for the slow responses to this. I'm hoping to release a beta version of the new extension sometime, and will update you here when that's available. Hoping it will fix the problem.

[2019-09-20 23:55] dmarmor commented on #187
Yeah, unfortunately I can't really do anything about the name of the helper processes, since I basically can't make _any_ changes to Chrome when I embed it inside running Epichrome apps. Under Mojave, any change at all to Chrome causes all kinds of Gatekeeper problems and makes the apps not function well. Presumably this will only get worse going forward as Apple clamps down on app security. I'm a

[2019-09-20 23:56] dmarmor commented on #185
Running killepichrome with no arguments should function as you're describing, and should kill all running Epichrome apps. And hmm, it should definitely _not_ kill Chrome proper, as it's searching specifically for instances of Chrome run through the ChromeEngine directory.

Can you try this again and confirm that it's killing Chrome proper?

[2019-09-20 23:58] dmarmor commented on #183
Yes, sorry, during one of the redesigns necessary to keep up with ever-tightening Chrome and macOS security, I had to basically make Epichrome apps single-user only. Going forward, they really should all live in ~/Applications only...

[2019-09-20 23:58] #183 closed

[2019-09-21 00:01] dmarmor commented on #173
Hi all, sorry for disappearing for so long. I've been utterly unable to recreate this on my system. Since 2.2.4, my app icons have been rock solid. Assuming you have confirmed that all your apps have been properly updated to 2.2.4, I wonder if you could let me know if this problem is occurring only with apps that you created before 2.2.4 and then updated, or if it also occurs with new apps you cre

[2019-09-21 00:10] dmarmor commented on #188
Hmm. I suspect this actually is an issue with Choosy. The way Epichrome apps work, they create the ChromeEngine dynamically when they run, and destroy it when they quit. So when an app is running, there will be a second, identically-named app that is the underlying Chrome instance. Choosy must be getting confused and trying to open links through that instead of the real Epichrome app.

This would

[2019-09-21 00:10] #188 closed

[2019-09-21 00:16] dmarmor commented on #177
Hi all, I'm also a Keyboard Maestro and Applescript user and have had similar problems with Epichrome apps. Unfortunately, there may not be a really good fix for this, as the way macOS and Chrome security is now, I cannot make any changes to the underlying Chrome engine that Epichrome apps rely on, which means the bundle ID will always be Chrome.

I'll put this on my to-do list, though, and will s

[2019-09-21 00:22] dmarmor commented on #163
Closing this issue, which seems to be solved with 2.2.4. If anybody experiences more problems, please let me know and we can reopen.

[2019-09-21 00:22] dmarmor commented on #122
Just an update this is still on my radar and I will look into it.

[2019-09-21 00:23] dmarmor commented on #181
Just updating, I will look into this issue...

[2019-09-21 00:31] dmarmor commented on #184
Hey @bfenster, @talleux (as well as @Felix-N, @GrogHills from other threads),

Thank you all so much for the support. I love knowing that people are getting value out of Epichrome, and appreciate your generosity. And @bfenster, you're right--over the last couple years my time has become so limited I've felt like it'd be unfair to take donations when I'm sometimes not even able to keep up with crit

[2019-09-21 07:05] ey51 commented on #150
Okay. Gotcha and thanks.

[2019-09-22 22:42] dmarmor commented on #33
Hi @foliovision. Unfortunately, Epichrome's assumption of Chrome as its engine is such that I doubt changing runtime.sh in Epichrome itself will do the trick. You'll need to change it in the SSB itself after you've created it. Not ideal, especially if you're creating a lot of SSBs, but I suspect that's the only way to make it work until I have time to add proper Chromium support...

[2019-09-22 22:57] dmarmor commented on #180
I actually used to change the bundle ID in the engine, but had to stop doing that during one of the Chrome or macOS updates, because it broke Chrome's code-signing and caused all sorts of problems. At present, I don't have a good solution to that, which also causes other problems (I think it's what underlies the Applescript and Keyboard Maestro problems various folks are having). So yeah, I wish I

[2019-09-22 22:58] dmarmor commented on #135
That's exactly right, @octplane. I've been unable to find any workaround for this.

[2019-09-22 23:01] #150 closed

[2019-09-23 14:52] GrogHills commented on #184
I love epichrome and can imagine working without it. Several other folks
have created products with a similar concept, but having separate apps for
different work areas, then using browser fairy to route the links to the
correct app is just awesome. Thank you!

I'd love to have the ability to update the list of tabs that launch on
startup of an epichrome browser. Is that possible, even if manually

[2019-09-24 20:26] heyfletch commented on #173
I still have the same issues described above. HOWEVER, good chance my apps were created before 2.2.4.

How do I tell which version of Epichrome I'm using? Is that just on the Epichrome.app or across the apps I created?

Is there an easy way to see which apps I created with Epichrome? (I may try deleting them all and starting fresh... thought I did that already, but may have missed some)

I am usin

[2019-09-25 12:01] reflectively commented on #163
@dmarmor I am on 2.2.4 and the issue still persists. I tried to uninstall epichrome, removed all instanced I created, reset default browser and deleted `Library/Application Support/Epichrome/Apps/ `

Yet every time I open a link it's opened in the epichrome instance instead of my default browser (Chrome).

I am on latest chrome on latest MacOS Mojave

[2019-09-25 19:54] ylluminate commented on #163
@reflectively have you been using `Browser Fairy` or some such app? This really helps me tremendously and seems to be nearly flawless.

[2019-09-26 06:07] Shepstar commented on #163
I installed Epichrome 2.2.4 yesterday and also I still have the same issues. Redid everything but if I don't open chrome first links go to Epichrome Apps I made instead of Chrome itself.
I'm running on Mojave 10.14.3 (18D109). When creating an App with Epichrome it ask if it should be registered as Browser, what happens if I say no. Will this change this happening or do I also have some disadvanta

[2019-09-27 23:43] dmarmor commented on #182
Hey, I finally had a chance to go to the Google forum, and I think Jakob Kummerow actually seemed to know what he was talking about (despite being kind of snippy about it). Assuming he really does understand the Chrome architecture (he certainly appears to know it better than I do), then apparently it is running on shared libraries already across Chrome processes (basically meaning open tabs). To

[2019-09-27 23:51] dmarmor commented on #66
Hi all, I think I've fixed this one. Here's a beta that addresses it. Could you please give it a shot and let me know if it fixes the problem for you?

https://www.dropbox.com/s/edldp8711bl3tgh/epichrome-2.2.5b02.dmg?dl=1

[2019-09-28 00:28] dmarmor commented on #66
Hi all, I think I've fixed this problem finally. Here's a beta release to give it a try if you want. Please report here if it helps (or if it doesn't). Thanks!

https://www.dropbox.com/s/48njsemeb583dth/epichrome-2.2.5b03.dmg?dl=1

[2019-09-28 01:07] ylluminate commented on #182
I guess the problem I'm having here is making them understand my question and thus why I've not replied to him (in addition to his "snippy" attitude). I believe there is a way to make Chrome recognize the same versions of itself running on the system and I also believe that this can be done with Electron apps.  The problem is that they're not creative (or driven) enough to consider solutions.

The

[2019-09-30 22:10] ylluminate commented on #182
So I'm back to some reliable hangs in Epichrome instances again here, but primarily only after a reboot and within the first 1-2 hours... Any idea of how to get meaningful debugging data?  I've captured samples, but it seems we must need more to track this down since Chromium folks didn't respond to [my previous request](https://groups.google.com/a/chromium.org/forum/#!searchin/chromium-discuss/Wh

[2019-09-30 23:40] dmarmor commented on #182
Yeah, this would be driving me crazy too. I'm kind of at a loss how to even start to diagnose it, since I've never experienced anything like it on my system. I also have to admit I don't know how to read those sample documents. Are you able to decipher them to the level of seeing what function or library Chrome is in when the hangs occur? That would be a start, anyway.

I also assume these hangs a

[2019-10-01 16:52] dmarmor commented on #173
Hi @heyfletch,

The version of Epichrome will appear not only in the Finder info for Epichrome itself, but for each app.

If you confirm that the apps you're having problems with have updated themselves to 2.2.4, then the next thing to try would be to take one of them, ensure it's not running, back it up, and then go into the app bundle and delete the Payload directory. The next time you run, it s

[2019-10-01 17:29] ylluminate commented on #182
This is where I'm hitting walls. I cannot find any clear instructions or examples on how to really grok samples at this point.  Years ago I used to routinely share samples with developers who seemed to be able to use these to isolate problem areas of applications, however over the past 1-2 years it seems as though no one can read them anymore.  Unfortunately I never had the time to actually ask th

[2019-10-01 20:15] ylluminate commented on #185
So I finally had a chance to test this out (crazy last several days - apologies). It does not kill Chrome, but it also is not killing `Epichrome` instances either.  When I executed it to kill all `Epichrome` instances it resulted in:
[code]
(Where EPICHROME_APP_NAME is the actual Epichrome app name)

[2019-10-01 23:24] dmarmor commented on #184
Thanks, @GrogHills! It's on my long-term to-do list to allow editing of already-created Epichrome apps, but for now the only way to do that would be to edit the app's config.sh file, which is in:

[code]

Make very sure the app is not running, then edit that file. Assuming you created a Browser Tabs app, you'll find a line like this:

[code]

Change those URLs to whatever you want (of course leavi

[2019-10-01 23:37] dmarmor commented on #163
Hi all. I'm reopening this issue as I did just now manage to recreate it, though not reliably. I quit all my Epichrome apps and Chrome, set my default browser to Chrome, ran one Epichrome app, and it routed a link to itself. But then I quit everything and tried it a second time after running two Epichrome apps, and that time (and every time after) it properly opened Chrome, even if it wasn't runni

[2019-10-01 23:43] dmarmor commented on #185
Might've made my regular expression a little too restrictive. Try **[this](https://www.dropbox.com/s/f4vksr2s2u84pel/killepichrome?dl=0)** update.

[2019-10-01 23:51] dmarmor commented on #182
Yeah, I'm really sorry I don't understand those samples. I looked through thinking they would show timestamps on each call, I could use to see where the big delay was happening, but as best I could interpret the output, it doesn't appear to show that info.

Does the sample output appear dynamically? In other words, can you watch it outputting the tree as your app is running? I'm assuming not, or I

[2019-10-02 06:05] Shepstar commented on #163
@dmarmor thanks for the explanation.
In my case I don't use Browser Fairy or anything similar and I always have the same problem if I don't open Chrome first, all urls go to the Epichrome App I opened before Chrome.

[2019-10-02 06:45] ylluminate commented on #182
Hmm, so someone recommended that I start using `spindump` to gather information.  They had an observation that involved a number of `sh` instantiations from Chrome. He then makes the remark: "Each process is around for only 9 samples? Are you forkbombing yourself?"  Two Chrome examples in here are:

[code]

[2019-10-07 15:57] heyfletch commented on #173
Confirming all apps were 2.2.4. At least one of them one was created in Oct 2018. I've now deleted the payload for all 3 apps. So far, no issue, but it was always intermittent, so I'll report back here if any further issues. Thanks for the mdfind and Finder info tips!

[2019-10-07 16:03] foliovision commented on #33
Any hope of proper Chromium support as Google respect for privacy continues to detiorate and detiorate?

[2019-10-09 22:59] dmarmor commented on #33
I'd like to do a little poll of folks who are interested in Chromium support. In which of the following ways do you think it should work?

1. If Chromium is installed, it is always chosen as the engine for Epichrome apps, whether Chrome is also installed or not. Only if Chromium is not installed is Chrome used as the engine.

or

2. If only one or the other of Chromium or Chrome is installed, then

[2019-10-09 23:01] dmarmor commented on #181
Could someone please send me a URL that requests these permissions (preferably without a lot of setup required) so I can easily test this on my system? Thanks!

[2019-10-09 23:30] manishie commented on #181
I used epichrome 2.2.4 with all default options, with the URL https://hangouts.google.com.  Login with any google/gmail account.  Attempt to make a free phone call to something like 800-555-1212.  Or I'm sure a video call to another google/gmail user would have the same issue. Epichrome does ask if you want to allow access to microphone, but it still doesn't work.

[2019-10-10 00:29] darrenaalfonso commented on #181
Try this: https://turncameraon.com/

[2019-10-10 20:16] foliovision commented on #33
Dmarmor, that's a great question. I'd like Epichrome to allow either (I'd only use Chromium as I won't allow Chrome on my computers), including the de-Googlized Chromium. Allowing Chromium may require adding a bit more code to Epichrome and/or removing a feature or two (if Google reserves SSB technology for Chrome as they often do to choke out Chromium adoption).

If either browser will work then

[2019-10-15 16:43] bolaurent opened #189 "Cannot screen share in Catalina OSX 10.15?"
After upgrading to Catalina, my vanilla Chrome instance won't  allow Google Hangouts to screen share unless I add Chrome to the System Preferences/Security & Privacy/Privacy list to permit "Screen Recording".

I was able to add an Epichrome instance of Chome, but Chrome itself does not get added to the list in System Preferences. There is no manual way to add apps to the list. So, I cannot figure

[2019-10-16 02:22] onching commented on #173
I also still experiencing the wrong icon (in dock) / epichome app name (top left name usually says the epichrome app name instead of chrome) but I just tried the delete payload steps mentioned above. I'll report back if I see it happening again. It does seem to be intermittent for me as well. I put my laptop to sleep a lot instead of closing apps, I'm not sure if that has any correlation though. T

[2019-10-21 17:43] ixley opened #190 "Browser routing no longer works with Mac OS 10.15 (Catalina)"
After upgrading to Catalina, Epichrome apps unfortunately no longer work for me. The issues seem very similar to routing issues experienced with Mojave (which were eventually fixed).
These are the two main issues I've been experiencing:
- An Epichrome app instance is often erroneously identified as the default browser instead of Chrome. (It's not always the same one.) Quitting the Epichrome app us

[2019-10-22 07:37] KajKandler opened #191 "Catalina upgrade, epiChrome apps stop sending notifications"
I use GCalendar as an EpiCrome app, 2.2.4 and since my Catalina upgrade it stopped sending notifications, which off cause is rather unhelpful. Also only one EpiChrom app shows up in preferences for notifications.

[2019-10-22 08:32] KajKandler commented on #191
Workaround, chrome://flags - Enable native notifications = Disabled

[2019-10-24 14:12] jonboy345 commented on #191
I also updated google chrome in my epichrome apps on Catalina and it fixed notifications as well.

[2019-10-24 21:04] flaviolira123 commented on #181
Hi! I LOVE Epichrome, but this limitation is making it not possible to use it on my workflow 😭

I have my fingers crossed that Mr. @dmarmor will find the time on his busy schedule to take a look at it!

@dmarmor , we know you're doing this as a labor of love (at least for the time being, and if the app becomes a paid app down the road I'll gladly pay for it) and we appreciate it 😀

[2019-10-27 07:33] jurb commented on #133
@dmarmor This is exactly what I'm experiencing and hoping can be fixed!

[2019-10-28 20:17] whatknows commented on #190
I am also having this problem. But no suggested fixes. :(

[2019-10-30 15:30] relluf commented on #173
My problems around icons and app names have practically disappeared, but, activating the app through Spotlight or the Finder is still really instable. I use an app called Apptivate to switch between apps by hotkeys and it oftentimes fails to activate the app. Activating an app through Spotlight and/or Finder shows the exact same behaviour. It is not consistent, not just one specific Epichrome'd ap

[2019-10-31 23:54] ElvisofDallas opened #192 "Editing the startup tabs after making the SSB?"
I thought I saw instructions for this in the issues when I worked setting up my first SSB last night, but now I cannot find that or the string of any of my startup pages inside the resources for Epichrome (or in app support).

Can someone point me to any instructions for adding an additional startup page for the browser?
Thanks!

[2019-11-05 00:56] onching commented on #173
reporting back... I haven't noticed any icon issues since deleting the payload steps 20 days ago so that might have corrected my issue. I'm still on Mojave btw.

[2019-11-07 07:00] relluf commented on #173
@heyfletch FYI I managed to get my shortcuts working with FastScripts

[2019-11-07 12:33] heyfletch commented on #173
Thanks for the tip! Looks cool. :)

[2019-11-07 15:19] relluf commented on #173
It might be useful to comment here that I noticed that using AppleScript to activate the app from the Terminal *does work*. For example the following activates or launches an app called Redmine:

`$  osascript -e "tell application \"System Events\" to activate application \"Redmine\""

The thing is, it's pretty slow to execute, on my system anyways (MBP15/2017) and that's how I came across this Fa

[2019-11-08 20:29] talleux commented on #173
Hello @dmarmor,

sorry for my late very answer to your earlier questions to me (https://github.com/dmarmor/epichrome/issues/173#issuecomment-533747962)...
As is said earlier (https://github.com/dmarmor/epichrome/issues/173#issuecomment-473597939) i have the problem of loosing the SSB icon when downloading a file on some of my SBBs. I really can't find a pattern: some very old SBBs don't have the p

[2019-11-09 03:35] nathanielread commented on #190
I'm also experiencing these issues.

[2019-11-10 23:10] ylluminate opened #193 "Internet access gone after update of an older Epichrome instance"
Hey @dmarmor, having an odd issue with an older browser I'd not fired up since before your last major updates. I was using [Proxy SwitchyOmega](https://chrome.google.com/webstore/detail/proxy-switchyomega/padekgcemlokbadohgkifijomclgjgif?hl=en) to pass the connection through another ISP and found that when I fired it up and upgraded it to the newest Epichrome release, I now cannot go to any sites.

[2019-11-10 23:24] ylluminate commented on #192
The easiest way I've found is to edit the `config.sh` from the shell. For example, open up `Terminal.app` and then enter `nano /Applications/NAME_OF_EPICHROME_APP.app/Contents/Resources/Scripts/config.sh` (replacing `NAME_OF_EPICHROME_APP` with your app name. Then you'll see a line at the bottom that you can edit. I made a test app and populated it with 3 examples:
[code]

You can replace these ho

[2019-11-20 13:44] dpickett commented on #140
It appears that this is related/similar to #133

[2019-11-20 13:57] demmer commented on #190
I also had this problem. The best workaround I found was to get BrowserFairy and use that as my default browser, plus the epichrome extension.

With that in place I can get everything routed to Chrome.

[2019-11-21 08:44] idavydov commented on #163
[Finicky](https://github.com/johnste/finicky) seems to be a free alternative to Browser Fairy. It's free & open source, but requirers writing text configs in javascript.

[2019-12-01 19:18] dmarmor commented on #184
Hi all,

So I've finally set up a Patreon for Epichrome, and I've love it if you considered being the first to join. I've set it up to be a per-release membership, so you'd only be charged when I put out a new version. Your membership would mean a lot to me, and would help cover the costs and time I put into the project.

Thank you all for your support of Epichrome!

[2019-12-01 19:18] #184 closed

[2019-12-02 18:43] dmarmor commented on #184
I just realized I forgot to actually include the link to the Patreon page (hazards of writing at an airport in the middle of holiday travel). Here it is:

https://www.patreon.com/epichrome

[2019-12-02 18:51] GrogHills commented on #184
Just signed up!

On Mon, Dec 2, 2019 at 10:43 AM dmarmor <notifications@github.com> wrote:

[2019-12-02 21:37] dmarmor commented on #184
Received and much appreciated, @GrogHills and everyone else who has signed up so quickly. I really appreciate it!

[2019-12-02 21:47] dmarmor commented on #33
Hi all. First off, I want to thank everyone who has requested I look into adding the ability to use Chromium as the app engine. In response to this feature request, I started experimenting with Chromium, and it turns out to have a number of major advantages over using Chrome as the engine.

Because of that, I'm now working on a relatively major update of Epichrome that would actually make Chromium

[2019-12-02 21:49] dmarmor commented on #189
Hi @bolaurent,

I'm currently working on a fairly major update that should solve this and many other Catalina problems. With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and would like to help su

[2019-12-02 21:53] dmarmor commented on #175
Thanks, @vitalybe, glad it's working!

[2019-12-02 21:55] dmarmor commented on #191
Hi all,

I'm working on a fairly major update that may solve this (and many other Catalina problems). Given my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

<shameless_plug>
I've set up a Patreon. If you find Epichrome useful and would like to help support its continued development, I've love it if you considered

[2019-12-02 21:56] dmarmor commented on #181
Hi all,

I wanted to let you know I'm working on a fairly major update that I believe will solve this, as well as many other long-standing problems. With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

<shameless_plug>
I've set up a Patreon. If you find Epichrome useful and would like to help support its continue

[2019-12-02 22:01] dmarmor commented on #133
Hi all,

I wanted to let you know I'm working on a fairly major update that I believe will solve this, as well as many other long-standing problems. With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome use

[2019-12-02 22:01] dmarmor commented on #173
Hi all,

I wanted to let you know I'm working on a major update that I believe will solve this, as well as many other long-standing problems. With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and

[2019-12-02 22:09] dmarmor commented on #193
Hey @ylluminate,

Hmm. The only thing I can think of is that SwitchyOmega is somehow conflicting with the Epichrome Helper extension, but I can't figure out how that would be. Epichrome Helper definitely doesn't touch proxy settings in any way. It does intercept clicks on links in order to decide how to route them.

I guess the first thing to know would be, if you disable Epichrome Helper, does th

[2019-12-02 22:11] dmarmor commented on #192
Thank you @ylluminate! @ElvisofDallas, I hope this worked for you. Closing this issue now, but can reopen if you're still having trouble.

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and would like to help support its continued development, I've love it if you considered joining. Your membership would help cov

[2019-12-02 22:11] #192 closed

[2019-12-02 22:19] dmarmor commented on #140
Hi all! Yes, @dpickett, I think this is indeed related to #133, and I'm working on a fairly major update that I believe will solve it (as well as many other long-standing problems). With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience! I'll close this issue for now and continue the conversation in #133.

One more thing:

#### <sham

[2019-12-02 22:19] #140 closed

[2019-12-02 22:20] dmarmor commented on #190
Hi all, I'm working on a fairly major update that I believe will solve this (as well as many other long-standing problems). With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and would like to hel

[2019-12-02 22:31] dmarmor commented on #163
Hi all,

I'm working on a fairly major update that I believe will solve this, as well as many other long-standing problems. With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and would like to hel

[2019-12-02 22:47] dmarmor commented on #182
Hmm. This does not look like anything that should be related to Epichrome. If I'm reading this right, it looks like the first call to sh is from libdyld.dylib. The only way I can figure that could be related to Epichrome is if it has something to do with the Epichrome Helper extension, which talks with a python-based native messaging host. That would possibly be launched through an sh call in libd

[2019-12-02 22:52] dmarmor commented on #122
Hi all,

I'm working on a major update that I believe will solve this issue (as well as many other long-standing problems). With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and would like to hel

[2019-12-02 22:53] dmarmor commented on #177
Hi all,

I'm working on a major update that I believe will solve this issue (as well as many other long-standing problems). With my work schedule, it may take a while, but I'll let you know when it's ready for testing. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome). If you find Epichrome useful and would like to hel

[2019-12-02 22:55] dmarmor commented on #125
Hi all,

I'm working on a rewrite of the extension that may solve this problem. I'm also working on a fairly major update to Epichrome itself and am planning to release both for testing about the same time. With my work schedule, it may take a while, but I'll let you know when that happens. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.p

[2019-12-02 22:57] dmarmor commented on #136
Hi all,

I'm still working on that rewrite of the extension, and also working on a fairly major update to Epichrome itself. I'm planning to release both for testing about the same time. With my work schedule, it may take a while, but I'll let you know when that happens. Thanks for your patience!

One more thing:

#### <shameless_plug>
#### I've set up a [Patreon](https://www.patreon.com/epichrome)

[2019-12-02 22:59] dmarmor commented on #157
Hey @ylluminate, just checking in on this again. Did this behavior go away? If not, I'm hoping the new update I'm working on will fix it. (I'm sure you've seen 5 different posts about that and the Patreon on other issues, so I'll spare you the spiel...)

[2019-12-02 23:00] dmarmor commented on #148
Hi @Zettt, just checking on this again. Has 1Password 7 been working for you? I have found that when Chrome is in the midst of an update and I have Epichrome apps open, this problem can occur. Quitting all Epichrome apps, letting Chrome finish its update, and then reopening the Epichrome apps seems to fix it for me.

[2019-12-02 23:01] dmarmor commented on #151
Just checking in once more, @kotekhutsishvili. I'm going to close this issue for now, but if you have any more info that can help me understand the problem, please let me know and I'll reopen.

[2019-12-02 23:01] #151 closed

[2019-12-17 18:05] foliovision commented on #33
Dmarmor, I'm thrilled to hear this may be coming to Chromium. I'm having to do handstands to get half working SSB via webkit now and they are not very good.

Most people get their binary of Chromium from https://chromium.woolyss.com/ so in an ideal world you'd make Epichrome a plugin for Chromium. If Epichrome requires more in order to _create_ SSB you could make us install the Epichrome version f

[2019-12-21 01:42] dmarmor commented on #33
Hi @foliovision!

Well, I can tell you Chromium will definitely be an engine option in the next version. I've got it working in an internal build. I'm still working on making everything as smooth and bulletproof as possible before I go to beta, so it may be a while (definitely after the holidays). And I am using one of the woolyss builds (the Marmaduke one with Google API compatibility and Widevin

[2019-12-21 01:44] dmarmor commented on #177
Hi @zzamboni,

I've tested the osascript example you opened this issue with and can tell you it will be working in the next version. Still quite a bit of work to do before it's ready to go to beta, but that example is already working in my internal build.

Cheers!

[2019-12-21 16:15] zzamboni commented on #177
@dmarmor great news! I look forward to checking it out when available.

Cheers!

[2019-12-21 19:44] foliovision commented on #33
Hi @dmarmor ,

Having two Chromiums installed should not be an issue. That's great that it will be possible to have two versions on board. I wish you'd called your version something slightly different though for clarity. EpiChromium would be fine.

[2020-01-03 21:05] ylluminate commented on #181
This has been resolved in most recent Electron updates: getferdi/sponsors-only#1300

[2020-01-12 06:53] maiux opened #194 "fix/prevent default browser check and add incognito by default as optional feature"
Using 79.0.3945.117 Chrome on macOS 10.15.2
Since using "Set Chrome as default browser" within Epichrome app will result in setting original Chrome app as default browser and thinking that is too much tricky to fix it, what about setting --no-default-browser-check in all Epichrome apps by default?
Next, what about an option during creation script which permits creating Epichrome apps that start in

[2020-01-21 16:32] henderea opened #195 "2.3.0-beta: Firewall asks if I want to allow incoming connections on EVERY launch with chromium browser"
My main computer is owned by the company I work for, and among the various settings they force upon me is enabling the mac system firewall.  It seems that **every** time I launch my browser (converted to chromium), it asks me if I want to allow it to accept incoming network connections, even though I click "allow" every time.  I checked my firewall list, and it has the path `/Users/erichenderson/L

[2020-01-21 20:18] dmarmor commented on #195
I don't have much experience with this kind of firewall issue, but the first thing I'd recommend is to also add the main app to your firewall list. It seems possible to me that the firewall is reacting to that app and not the engine.

Please let me know if that fixes it, and if not I'll try to think what else it could be...

[2020-01-22 16:54] henderea commented on #195
It did not fix it.  On Patreon, you indicated that the engine app gets replaced with the actual engine on startup, so maybe the fact it gets replaced every time is the issue.

On another note, I had my computer freeze and was forced to perform a hard shutdown while I had one of the Chromium apps open.  I ended up discovering that it had lost all of my info when I started it back up from the engine

[2020-01-22 18:55] dmarmor commented on #195
Hmm. That is very puzzling. Regarding the firewall, I can't think of anything in the main app that would trigger it. The only time the main app uses TCP is once a week when it checks GitHub to see if there's a new version of Epichrome. And that's outgoing, so shouldn't trigger the firewall.

The only thing the main app leaves running is a tiny helper app that does nothing but sit and wait for the

[2020-01-24 21:59] dmarmor commented on #195
I had one possible thought, though it doesn't seem likely. I wonder if you've checked to see if the engine app is in the socketfilterfw --listapps listing both when the app is running and when it's not? Given that the engine app is being altered when it's not running, maybe the firewall is noticing that and removing it from the list, and thus triggering it to ask for permission again the next time

[2020-01-26 04:41] ylluminate commented on #155
While using `App Tamer` and doing some debugging with the developer, I found that `sleep` is being spawned insanely frequently via Epichrome instances. Something has been gumming up `App Tamer` very badly and I believe that this is it, but will report back once I know for sure...

[2020-01-27 01:01] dmarmor commented on #155
Yes, the cleanup monitor that runs along with each Epichrome instance does invoke sleep (it sleeps for about a second, then checks if the app is still running), so that would account for sleep being spawned frequently. But of course each instance of sleep dies before the next is invokes, so it's not like it's spawning them out of control. Also from my tests of CPU usage, it is hardly using any (so

[2020-01-27 02:08] ylluminate commented on #155
Hmm. According to the `App Tamer` dev this might be creating some difficult-to-handle housekeeping.  I have yet to hear back from him so perhaps my concern is premature, but he added some debug code in to try to figure out why `App Tamer` has been sometimes consuming way too much CPU time. It goes up to consistently using >50% on each of it's processes at some odd time that we can't isolate.  Even

[2020-01-27 03:08] ylluminate opened #196 "2.3.0 BETA 2 - recovery question"
What would be the theoretical recovery process if a backup wasn't made properly for an app? If the old folder is, however, intact, what would need to be copied where to recover bookmarks, history, etc. from 2.2.x to 2.3?

[2020-01-27 03:27] ylluminate opened #197 "Catalina LSD crashes"
Something new I've noticed with Catalina is that it appears as though when I create a new Epichrome app that some time in the near term afterwards (minutes to an hour perhaps) that LSD crashes and then my entire system becomes unusable and requires `sudo reboot`. It seems to be when I create one that is recognized as a browser by the system.

[2020-01-27 07:19] ylluminate opened #198 "Feature Request: Ungoogled Chromium"
Now that we're going down the Chromium rabbit hole a bit, it seems to me that it would be beneficial to offer a more static and "free" version of Chromium as another option:
https://chromium.woolyss.com/
![ungoogled](https://p153.p0.n0.cdn.getcloudapp.com/items/p9u5yG9O/Image+2020-01-27+at+1.59.54+AM.png)

This version seems to be fairly robust, but would probably need to have this plugin also inc

[2020-01-27 17:55] dmarmor commented on #155
Yeah, please let me know what he comes back with. In the meantime, if you want to find out whether the Epichrome helper app is what's causing any performance issues you're seeing when you have a lot of apps running, you can just kill all the running helpers. This command should find all the running helper apps of both pre- and post-2.3.0 apps:

[code]

You can then kill all of them using the PIDs

[2020-01-27 18:46] dmarmor commented on #196
If your goal is to have the data folder work with a 2.2.x app again, what you'd need to do is take the UserData subfolder and make that the root folder. So it would be a procedure similar to this:

[code]

[2020-01-27 18:49] dmarmor commented on #197
Hmm. I've not experienced this myself, and I've created dozens of apps as I've been working on the new verison. Do you have a sense of whether it's to do with running the new app? Or is just creating it enough?

[2020-01-27 18:54] dmarmor commented on #198
The best way I'll be able to support this (or any other variant) is that I have plans to basically allow users like you who want customization over your engine a third engine option of "Custom." If you chose this when creating (or updating) an app, it would bring up a file chooser and you'd then select the path to your engine app, which could be anything that's basically Chromium-compatible. Makin

[2020-01-27 18:57] dmarmor commented on #33
The Chromium engine in the new build is packaged in with Epichrome.app, and when app engines are created using it they have their own bundle ID, so there's no need to call it anything. It doesn't exist as an app on the end user's system. So you can have whatever version of Chromium you want installed as an app and the Epichrome engine won't interfere with it.

[2020-01-27 19:00] dmarmor commented on #194
These are great ideas. the default-browser check should be easy to fix. I may end up doing it with master prefs rather than a command-line flag, but it's on my to-do list. As for default incognito mode I'll need to do a bit more research to figure out how best to implement that option, but will add it to my list for a later release too. Thanks!

[2020-01-27 19:19] ylluminate commented on #198
Sounds solid to me.

[2020-01-27 19:19] #198 closed

[2020-01-27 19:45] ylluminate commented on #197
I'm not entirely sure. It happened with the previous version of Epichrome.  Apple is remaining silent on the issue right now, but the odd thing is that it just dawned on me last night that the crash (and subsequent system devastation / `sudo sync; sudo reboot -qn`) and previous crashes were extremely coincidental to creating a new Epichrome app.  SO, I'm not yet sure how to properly isolate this..

[2020-01-27 19:50] ylluminate commented on #196
So not `~/Library/Application Support/Epichrome/Apps`?

[2020-01-27 20:43] dmarmor commented on #196
Sorry, that was a typo. I've edited the post.

[2020-01-30 03:14] ylluminate commented on #196
Hey thanks! What about taking a 2.2.x to 2.3+ manually?

[2020-01-30 05:13] #196 closed

[2020-02-01 06:33] ylluminate opened #199 "Most Epichrome apps gone in Browser Fairy now"
I hadn't needed to get into Browser Fairy until just today since my upgrade to Catalina, but when I got in there, I found what appears to be a disaster.  Most of my rules are now set to "not found" in the Browser column.

I then clicked on the "Open all other links with:" dropdown and found that only a few Epichrome apps are present! Same for creating new rules or changing the browser on an existi

[2020-02-02 02:09] ylluminate opened #200 "Password Import missing temporarily..."
So here's an important issue going on with current versions of Chrome + Chromium.

When you decide to move to Chromium you're going to have a problem importing an exportation of your passwords.  Obviously it's a pretty darn good idea to save your passwords via the exportation function since they will not be retained in the move (probably need to tell folks about this with a red alert).

However, i

[2020-02-03 01:53] ylluminate opened #201 "Volume Differences & Pain"
Well, I've been thinking a lot about the situation with keeping Chrome and Chromium in my ~/Applications folder.

I've tried the Chrome in ~/Applications for a couple days and I have to say that I'm really unhappy with one thing: I can't use 1Password.  This is simply a sacrifice that I can't make with the work that I do in enough cases that it really makes work more painful.

I can leave 1PW out

[2020-02-03 22:35] ylluminate commented on #197
By the way, I have a feeling that the other issue I created has more to do with the root cause of this if it even is involved with Epichrome:
https://github.com/dmarmor/epichrome/issues/199

So I'll close this for now.

[2020-02-03 22:35] #197 closed

[2020-02-05 16:40] anthonysapien opened #202 "2.3.0b2 - Default tabs lost after opening apps"
I've had 2.3.0 beta 2 installed on two laptops using the Chromium (not Google Chrome) option. On both machines, my applications have lost their default tabs.

The apps were working fine one day. The next day I opened them, and all apps were missing their tabs. They opened to a default Chromium Google Search tab.

It's almost as if it's a new installation because there are two notices:
1. Google AP

[2020-02-06 01:15] dmarmor commented on #201
I have a possible fix for this (and also a problem @henderea is having with 1Password with the Chrome engine. It's pretty ugly, though. Basically the way it would work is this: when you install Epichrome, it would get installed in a subfolder of /Applications and create an Engines folder alongside itself there. Then that folder would have to have subfolders for each user, and those would have subf

[2020-02-06 01:18] dmarmor commented on #196
Hmm. I'm glad you got it working, but it really should not have been creating new app IDs on update. Were you updating from a very old version of Epichrome with an app you hadn't used in a long time? I can't think of any other reason that would've happened.

If not, would you mind zipping and sending me the old 2.2.x version of the offending app? That would really help me diagnose what happened.

[2020-02-06 01:24] dmarmor commented on #199
This is totally mysterious to me. As you know, I use Browser Fairy extensively myself, and all my upgraded apps have appeared just fine. Are you seeing only your upgraded apps disappearing from Browser Fairy, or are your old un-upgraded ones gone too? If the latter, then I think something else must be going on (since the beta can't be harming apps that haven't even been updated).

If it's only you

[2020-02-06 01:28] dmarmor commented on #200
Thanks for the heads-up! I never use the Chrome/ium password storage, so never noticed this. I'll include a warning on the next beta, and will check to see if that flag is needed for importation. If it is, I'll add it.

[2020-02-06 01:29] ylluminate commented on #196
Wow, weird. I guess I shouldn't have assumed that you had some logic to auto-name them then...

No, I was updating from the last 2.2.x release and had been using it with that version shortly before the update.

Hrm, that 2.2.x app is entirely gone now...  Hmm.  Hmm. Hmm.

[2020-02-06 01:29] dmarmor commented on #197
Cool. If we fix 199 but this crops up again we can reopen.

[2020-02-06 01:36] ylluminate commented on #199
Right - I know you also use Browser Fairy.  So no, MOST (nearly all) of my Epichrome apps have disappeared from it.  Even Google Chrome appears to be not showing up properly (although Browser Fairy opens Chrome up still).  This MUST be a Catalina issue in losing these apps, but I don't know how to resolve it.  I tried to rebuild the LS database in Onyx, but that didn't help.  I suspect there must

[2020-02-06 01:40] ylluminate commented on #201
I really don't care where things live as long as I can isolate my drives such that OS is on one volume and my user directory can live on another volume.  Personally I think perhaps keeping Epichrome and all of its children closely associated could be better.

While I'm saying this, I guess ultimately I'm not really particular about where the settings live either as long as all of this is simply cl

[2020-02-06 01:42] ylluminate commented on #197
Right, somehow #199 encapsulates / demonstrates / expresses this I believe.

[2020-02-06 04:53] GrogHills commented on #202
Ok. I had the exact same issue myself. It happened to two of my six epichrome browser apps. At one point I recall seeing an error on restart related to not being able to control some version of a helper app. Maybe that was related based on your comments above?

[2020-02-06 04:55] GrogHills commented on #202
Based on your comment about launching the engine app instead of the main app I deleted the entries in my dock that were set to auto launch. Then I relaunched the apps in my application folder and magically they worked. So it seems that somehow the dock icons were launching the wrong version of the app. Hmm. Strange. Well it appears we have a workaround, now the question is how did that occur? Any

[2020-02-06 12:19] anthonysapien commented on #202
Thanks for looking into this. After creating the app, I chose to “open now” and used “keep in dock.” From then on, I opened them from the dock manually, not open on start up. I’ll try opening from Applications and let you know if that works.

On Feb 5, 2020, 11:55 PM -0500, GrogHills <notifications@github.com>, wrote:

[2020-02-06 19:08] dmarmor commented on #196
Yikes, if you don't have a backup then I don't know if we'll be able to diagnose this.

The way it's supposed to work is that any app in the 2.2.x range that you've been using should already have its unique ID set, and on update the new app should pick up that same ID. Obviously that did not happen here, so it somehow created a new ID and started over, and it had to add the 628 because Name was al

[2020-02-06 19:12] ylluminate commented on #196
Right. I may have noted somewhere that this was a semi-minor Epichrome app, so this is why I started there without a backup. I didn't want to lose it and felt it was worthwhile enough to resurrect it, but yeah...

No, unless there's a backup it recognized on my backup volume, but I thought I had excluded it from Spotlight (but maybe that wasn't enough)...

Hmmm.  I guess we'll have to leave it alo

[2020-02-06 19:16] dmarmor commented on #196
Yeah, unless you could still recover the old 2.2.x version from the backup volume...?

But yeah, if you don't see this behavior again we might have to chalk it up to gremlins. If you're going to update more apps, I'd be grateful if you could back them up beforehand so we can try to capture weird stuff like this.

[2020-02-06 19:45] dmarmor commented on #202
So yeah, if for whatever reason the helper app doesn't launch properly, or dies unexpectedly, then the app engine doesn't get deactivated, and in that case launching it directly will result in the problem you guys have been seeing. So yes, relaunching from Applications (or wherever you keep your main apps) should always work.

In terms of the dock, choosing "Keep in Dock" should work, as long as t

[2020-02-06 19:51] dmarmor commented on #199
Yeah, this doesn't sound Epichrome-related to me. A first test you may or may not have already tried would be to look at System Preferences->General and check the drop-down menu for Default web browser. Your apps (and Chrome and such) should appear there.

If they do, then the problem might be with Browser Fairy itself. But if, as I suspect, they do not, then I think you're right that something ba

[2020-02-06 19:53] dmarmor commented on #201
The way I'm picturing this working, you will be able to keep your Epichrome apps anywhere you want, OS and user directory can be on separate volumes, and the only really important thing will be that Epichrome and Chrome will need to live on the same volume (and pretty much Chrome should always live in /Applications, it turns out.

I'm going to try to test this soon, but if it works I'm going to ha

[2020-02-06 20:05] ylluminate commented on #196
Yeah, I'm going to do that with a script that I run prior to each upgrade. Right now I'm basically going to follow this process before upgrading to Chromium:

1) Export Passwords via Chrome Settings
2) Screenshot of Extensions + verify they're bookmarked to an "extensions" Bookmarks Bar folder
3) Save session via Session Buddy with a dated session
4) Run backup script to preserve `/Applications/<E

[2020-02-06 20:09] ylluminate commented on #199
Man, thats right. I forgot that Apple added that into the System Preferences vs having to use Safari still for default browser.

So no, they don't appear there - NEITHER does even just "Google Chrome"!

Yes, I'd hoped that Onyx was essentially doing that command, but I'll give this a try tonight:
`lsregister -kill -r -v -apps u`

I did try this a week ago and it didn't do anything for me:
`lsregis

[2020-02-06 20:40] dmarmor commented on #196
That looks great! The only thing to be sure of is not to run that backup script until you've quit the app (I don't know Session Buddy so don't know if that save happens while the app is running or not). This is just because if you compress the app while it's running it'll be huge...

[2020-02-06 20:41] dmarmor commented on #199
Yeah, give that a try and see if it helps. If the initial command doesn't work, check that URL I linked to, because they had some further commands to try.

[2020-02-06 20:45] ylluminate commented on #201
Alright - so essentially I'm going to plan on keeping Epichrome apps now in `~/Applications/Epichrome/` and will be fine with whatever hierarchical structure you need to generate in this regard. You are also saying that `~/Library/Application Support/Epichrome/Apps` will also live in this new hierarchy beside the engine, right?

Personally I like the idea of a consolidated chunk to keep backed up

[2020-02-06 20:47] ylluminate commented on #196
Yes, Session Buddy runs as an extension and saves data as an extension and therefore it comes back to life when added after the upgrade / switchover so that we don't lose a beat (I leave Epichrome instances often with all tabs / windows open so I can quickly resume tasks and workflows).

And yes, while app is not running for backup.

[2020-02-06 20:51] ylluminate commented on #196
Also, as I noted elsewhere, I'm now also having the Chromium missing sessions / no saved passwords issues... so I'm going to hold off on upgrading any more Epichrome apps until we know we've got this sorted out.

[2020-02-06 23:28] dmarmor commented on #201
No, I would leave all other settings and user data in ~/Library/Application Support/Epichrome/Apps. ~/Library is where user data and config settings like that belong on a Mac. All I'd move to /Applications is the engines, which are in fact apps, so there's at least a reasonable argument for them living there. You'd still have to collect items from 2 places rather than 1 in order to back up.

I don

[2020-02-07 00:07] ylluminate opened #203 "Missing sessions and passwords after upgrade with Chromium changeover"
As others have noted, I'm now also having the Chromium missing sessions / no saved passwords issues... I'm going to hold off on upgrading any more Epichrome apps until we know we've got this sorted out.

Please let me know where you'd like for me to go with this. Do you think that perhaps the app/engine consolidation will help and do you want to try that first or do we need to work on isolating th

[2020-02-07 00:29] dmarmor commented on #203
Thanks for starting this threat. @henderea first experienced this, which is an issue where for some users and some apps, the Chromium engine for currently unknown reasons refuses to request permission to use the Chromium Safe Storage item in the user's system keychain. It may have started with Chromium 79.0.3945.130, as @henderea never had the problem with 2.3.0b1, which used 79.0.3945.117.

Curre

[2020-02-07 16:05] ylluminate commented on #199
So a lot of browsers came back after issuing the `-kill -r -v -apps u` args, but most Epichrome apps are still gone. `Google Chrome` did show up again... lol.

[2020-02-08 00:23] GrogHills commented on #202
It happened again on rebooting. I got the following message when I rebooted my computer. Below is the log file you requested.

[epichrome_app_log.txt](https://github.com/dmarmor/epichrome/files/4173506/epichrome_app_log.txt)

![image](https://user-images.githubusercontent.com/5617693/74075168-05ed2000-49c6-11ea-9300-44bb3caef24c.png)

[2020-02-08 07:31] ylluminate commented on #199
Sadly even after running:
`/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -v -all u,s,l`

I'm still missing a large number of Epichrome apps.

I really don't know where to go from here now.

[2020-02-08 17:58] ylluminate commented on #199
This seemed to help to capture a little more, but not nearly all:
`/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain system -domain user`

At this point I think I may have to resort to this updated info:
https://eclecticlight.co/2019/03/25/lsregister-a-valuable-undocumented-command-for-launc

[2020-02-08 21:39] ylluminate commented on #203
Sounds good. I am anxiously awaiting the next build that integrates the consolidation to see if it helps. I'm in a holding pattern with updating Epichrome any more until this is released. Do you think we will see this consolidation build drop soon?

[2020-02-09 06:20] ylluminate commented on #199
So I've tried a few more things:

- `lsregister -delete`
- `lsregister -seed`
- `lsregister -r -v -all u,s,l`

Still no real luck in getting all of my browsers to show up in `System Preferences > General` or in Browser Fairy. Not even `Google Chrome.app` is showing up again!

Oddly when I do a `lsregister -dump` I do see it though:
[code]

So it seems as though it is registered, but what the heck.

[2020-02-10 21:14] dmarmor commented on #199
Yeah, I have no idea what could be going on here, but this definitely doesn't seem Epichrome-related. I'm afraid something bad has happened to your launch services database...

[2020-02-10 21:16] dmarmor commented on #203
Just posted the new beta. I'm not super otpimistic moving the engines is going to help with this issue, but at least it's a starting point. Once you have Chromium apps running with beta 4, if you experience the problem, let me know and maybe we can start to diagnose it...

[2020-02-10 21:19] dmarmor commented on #202
Hi @GrogHills, are you sure you didn't run the app again before capturing this log file? The log shows the app finding a running engine and the cleanup helper launching successfully, which is impossible on a run where it showed that alert....

[2020-02-10 23:34] ylluminate commented on #199
It appears as though it has and that there's simply no way to fully recover from it presently. Apple is mum on it right now. I'm hoping that the Browser Fairy dev will add the ability to add browsers that aren't showing up normally via a drag and drop function that is not generally available to the public (since they don't want to have to support strange configurations of users who really aren't a

[2020-02-10 23:45] ylluminate commented on #203
So just to find my feet here and make sure things are clear: The new installer creates `/Applications/Epichrome` that contains these, right?:
• `Epichrome.app`
• `EpichromeEngines.noindex`

Currently all 3 of these folders are owned by root:wheel. Can these be chowned to $USER:staff or $USER:wheel without negative repercussions? My thought is to at least have `/Applications/Epichrome` owned by $US

[2020-02-10 23:58] dmarmor commented on #203
Yeah, you can chown the outer folder no problem. Really, if you're the only user on the system, you can chown it all if you want. It's just the way the package installer works that it makes it all root-owned anyway. The one good feature of that is that the EpichromeEngines.noindex folder is owned by root and set sticky, so that users can't accidentally (or maliciously) remove other users' engines.

[2020-02-10 23:59] ylluminate commented on #203
So some notes on / with upgrade:

- During upgrade I got a dialogue that said: `Warning: Unable to check for new version of Epichrome on GitHub: `
- I tried saving a password and it is still not in settings. It neither appears in `settings > passwords` when I first create it nor when I restart the Epichrome app.

[2020-02-10 23:59] dmarmor commented on #199
Sorry to hear it. Keep us posted if you figure out a way to resolve it (or of course if you determine that Epichrome is in any way involved).

[2020-02-11 00:03] dmarmor commented on #203
Hmm, that's odd about checking Github. You didn't by chance save the log file from that run, did you? It'd be useful to me to see if I can see what error caused that warning. If not, I can talk you through an edit to config.sh that will cause it to try to check again on the next run, and then would love to have the log file from that run.

In terms of saving a password, this is a Chromium-engine a

[2020-02-11 00:05] dmarmor commented on #203
Unfortunately, with the current architecture there's no good way to stay connected to the Chromium terminal output. Running the executable directly was how I used to launch in the old architecture, but with Catalina it caused all manner of problems, so I switched to launching using /usr/bin/open. It's pretty rock-solid, but unfortunately doesn't give us terminal output.

[2020-02-11 00:07] ylluminate commented on #203
Can we use direct execution temporarily to isolate output? I assume that I could modify the Epichrome script at some point to trigger this old behavior to just see it for myself?

[2020-02-11 00:24] dmarmor commented on #203
Any direct execution of the engine executable causes it not to launch properly in Catalina, so I don't think that will work. If you're really determined, this method might work, but it's pretty ugly (involving using gdb):

https://stackoverflow.com/questions/593724/redirect-stderr-stdout-of-a-process-after-its-been-started-using-command-lin

related:
https://etbe.coker.com.au/2008/02/27/redirectin

[2020-02-11 00:26] ylluminate commented on #203
Curious too, have you played with `dtruss` attachment?

[2020-02-11 00:31] dmarmor commented on #203
Nope! I don't even know what dtruss is. A quick glance at the man page was a bit confusing. What does it do?

[2020-02-11 00:36] ylluminate commented on #203
I used to use `strace` in Linux and `ktrace` before Apple yanked it out in favor of `dtrace`. These were useful before to trace out system calls to figure out what was going on in an application or process as far as seeing all system calls that were flying around. Apple began to obfuscate this process (I assume at the behest of commercial vendors) and so it has become a bit more difficult to sort

[2020-02-11 01:38] ylluminate commented on #203
Just to document what I'm up to: So I thought I'd poke about in `gdb` to see if it was straight forward. I guess I'm going to have to dig into this a bit deeper since the current method outlined in the links above is not working:
[code]

[2020-02-11 18:24] ylluminate commented on #203
So just a thought here @dmarmor, would you like to see a packed up app that is exhibiting this no-password-save behavior to see if you see anything yourself?

[2020-02-11 18:26] dmarmor commented on #203
Yes, please! That could be helpful.

[2020-02-11 18:42] ylluminate commented on #203
Done.

[2020-02-13 02:10] ylluminate commented on #203
Sorry, beta 5 did not help the password saving situation – however I did notice that my session was saved this time when I opened it up... So perhaps this is now limited to passwords only for me being lost / not saving...